# Database<br>
The following part has the goal to clean and manipulate the necessary data. The goal of this work is to predict the damages in the US done to property caused by natural hazards. The data was retrived from the following sources: 
- Natural Hazards: https://www.ncei.noaa.gov/pub/data/swdi/stormevents/csvfiles/. The data was taken from the National Oceanic and Atmospheric Administration
- Population: https://www.census.gov/data/datasets.html. The data was taken from the official Census dataset of the US
- GDP per State and County: https://www.bea.gov/data/gdp/gdp-county-metro-and-other-areas. The GDP per state and county was taken from the Bureau of Economic Analysis of the US
- County Size: https://www.census.gov/data/datasets.html. The data was retrived from the official Census dataset of the US

All the datasets were uploaded to a Google Drive account to make it easier for everyone to have access to it

In [2]:
# Load all necessary packages
import gdown
import pandas as pd
import geopandas as gpd
import gdown
import numpy as np

## Download of the Natural Hazard datasets

In [4]:
#Damages of 2024

# Google Drive file link
drive_link = "https://drive.google.com/file/d/1fqXYPTptNnH_0USoQoP_MHamTmpyh5UD/view?usp=sharing"

# Extract the file ID from the link
file_id = drive_link.split('/d/')[1].split('/')[0]

# Create the direct download URL
url = f"https://drive.google.com/uc?id={file_id}"

# Output file name
output = "Events_2024.csv"

# Download the file
gdown.download(url, output, quiet=False)

print("Download complete!")

Downloading...
From: https://drive.google.com/uc?id=1fqXYPTptNnH_0USoQoP_MHamTmpyh5UD
To: C:\Users\nicar\OneDrive\Desktop\Business Analytics and Data science apllication\Capstone\Events_2024.csv
100%|██████████| 51.2M/51.2M [00:04<00:00, 10.7MB/s]

Download complete!

In [5]:
df_2024 = pd.read_csv("Events_2024.csv")

In [6]:
#Damages of 2023

# Google Drive file link
drive_link = "https://drive.google.com/file/d/1whLHKGUmc0cc5rxiY3pNALXLjYRq-ACJ/view?usp=drive_link"

# Extract the file ID from the link
file_id = drive_link.split('/d/')[1].split('/')[0]

# Create the direct download URL
url = f"https://drive.google.com/uc?id={file_id}"

# Output file name
output = "Events_2023.csv"

# Download the file
gdown.download(url, output, quiet=False)

print("Download complete!")

Downloading...
From: https://drive.google.com/uc?id=1whLHKGUmc0cc5rxiY3pNALXLjYRq-ACJ
To: C:\Users\nicar\OneDrive\Desktop\Business Analytics and Data science apllication\Capstone\Events_2023.csv
100%|██████████| 72.4M/72.4M [00:06<00:00, 11.8MB/s]

Download complete!

In [7]:
df_2023 = pd.read_csv("Events_2023.csv")

In [8]:
#Damages of 2022

# Google Drive file link
drive_link = "https://drive.google.com/file/d/1Os9fdmnDRqxNsMr4m6WfrS3yOH8gT91v/view?usp=drive_link"

# Extract the file ID from the link
file_id = drive_link.split('/d/')[1].split('/')[0]

# Create the direct download URL
url = f"https://drive.google.com/uc?id={file_id}"

# Output file name
output = "Events_2022.csv"

# Download the file
gdown.download(url, output, quiet=False)

print("Download complete!")

Downloading...
From: https://drive.google.com/uc?id=1Os9fdmnDRqxNsMr4m6WfrS3yOH8gT91v
To: C:\Users\nicar\OneDrive\Desktop\Business Analytics and Data science apllication\Capstone\Events_2022.csv
100%|██████████| 66.5M/66.5M [00:05<00:00, 11.7MB/s]

Download complete!

In [9]:
df_2022 = pd.read_csv("Events_2022.csv")

In [10]:
#Damages of 2021

# Google Drive file link
drive_link = "https://drive.google.com/file/d/1ZPBwl6PwMl77zjH1NnSCZMllLEur7uGy/view?usp=drive_link"

# Extract the file ID from the link
file_id = drive_link.split('/d/')[1].split('/')[0]

# Create the direct download URL
url = f"https://drive.google.com/uc?id={file_id}"

# Output file name
output = "Events_2021.csv"

# Download the file
gdown.download(url, output, quiet=False)

print("Download complete!")

Downloading...
From: https://drive.google.com/uc?id=1ZPBwl6PwMl77zjH1NnSCZMllLEur7uGy
To: C:\Users\nicar\OneDrive\Desktop\Business Analytics and Data science apllication\Capstone\Events_2021.csv
100%|██████████| 60.5M/60.5M [00:05<00:00, 10.8MB/s]

Download complete!

In [11]:
df_2021 = pd.read_csv("Events_2021.csv")

In [12]:
#Damages of 2020

# Google Drive file link
drive_link = "https://drive.google.com/file/d/1YGz2ewDyeSrbLpYL1GG6rL7Y83QbGTp_/view?usp=drive_link"

# Extract the file ID from the link
file_id = drive_link.split('/d/')[1].split('/')[0]

# Create the direct download URL
url = f"https://drive.google.com/uc?id={file_id}"

# Output file name
output = "Events_2020.csv"

# Download the file
gdown.download(url, output, quiet=False)

print("Download complete!")

Downloading...
From: https://drive.google.com/uc?id=1YGz2ewDyeSrbLpYL1GG6rL7Y83QbGTp_
To: C:\Users\nicar\OneDrive\Desktop\Business Analytics and Data science apllication\Capstone\Events_2020.csv
100%|██████████| 59.6M/59.6M [00:05<00:00, 11.1MB/s]

Download complete!

In [13]:
df_2020 = pd.read_csv("Events_2020.csv")

In [14]:
#Damages of 2019

# Google Drive file link
drive_link = "https://drive.google.com/file/d/15nX61Tzvw0c95Ve8g79JJ0rOCnIEi9-W/view?usp=drive_link"

# Extract the file ID from the link
file_id = drive_link.split('/d/')[1].split('/')[0]

# Create the direct download URL
url = f"https://drive.google.com/uc?id={file_id}"

# Output file name
output = "Events_2019.csv"

# Download the file
gdown.download(url, output, quiet=False)

print("Download complete!")

Downloading...
From: https://drive.google.com/uc?id=15nX61Tzvw0c95Ve8g79JJ0rOCnIEi9-W
To: C:\Users\nicar\OneDrive\Desktop\Business Analytics and Data science apllication\Capstone\Events_2019.csv
100%|██████████| 63.1M/63.1M [00:06<00:00, 9.65MB/s]

Download complete!

In [15]:
df_2019 = pd.read_csv("Events_2019.csv")

In [16]:
#Damages of 2018

# Google Drive file link
drive_link = "https://drive.google.com/file/d/1vx2tq1S479G1KIVuUO6_r3hlnoK8XI8V/view?usp=drive_link"

# Extract the file ID from the link
file_id = drive_link.split('/d/')[1].split('/')[0]

# Create the direct download URL
url = f"https://drive.google.com/uc?id={file_id}"

# Output file name
output = "Events_2018.csv"

# Download the file
gdown.download(url, output, quiet=False)

print("Download complete!")

Downloading...
From: https://drive.google.com/uc?id=1vx2tq1S479G1KIVuUO6_r3hlnoK8XI8V
To: C:\Users\nicar\OneDrive\Desktop\Business Analytics and Data science apllication\Capstone\Events_2018.csv
100%|██████████| 57.5M/57.5M [00:06<00:00, 9.35MB/s]

Download complete!

In [17]:
df_2018 = pd.read_csv("Events_2018.csv")

In [18]:
#Damages of 2017

# Google Drive file link
drive_link = "https://drive.google.com/file/d/1w6NItR79UvMovTcbLOT68iPXfp7moK91/view?usp=drive_link"

# Extract the file ID from the link
file_id = drive_link.split('/d/')[1].split('/')[0]

# Create the direct download URL
url = f"https://drive.google.com/uc?id={file_id}"

# Output file name
output = "Events_2017.csv"

# Download the file
gdown.download(url, output, quiet=False)

print("Download complete!")

Downloading...
From: https://drive.google.com/uc?id=1w6NItR79UvMovTcbLOT68iPXfp7moK91
To: C:\Users\nicar\OneDrive\Desktop\Business Analytics and Data science apllication\Capstone\Events_2017.csv
100%|██████████| 51.9M/51.9M [00:04<00:00, 10.7MB/s]

Download complete!

In [19]:
df_2017 = pd.read_csv("Events_2017.csv")

In [20]:
#Damages of 2016

# Google Drive file link
drive_link = "https://drive.google.com/file/d/1CbDvOshWCdRsq4DL7HTdxdrmA9QiRj0N/view?usp=drive_link"

# Extract the file ID from the link
file_id = drive_link.split('/d/')[1].split('/')[0]

# Create the direct download URL
url = f"https://drive.google.com/uc?id={file_id}"

# Output file name
output = "Events_2016.csv"

# Download the file
gdown.download(url, output, quiet=False)

print("Download complete!")

Downloading...
From: https://drive.google.com/uc?id=1CbDvOshWCdRsq4DL7HTdxdrmA9QiRj0N
To: C:\Users\nicar\OneDrive\Desktop\Business Analytics and Data science apllication\Capstone\Events_2016.csv
100%|██████████| 51.0M/51.0M [00:05<00:00, 9.91MB/s]

Download complete!

In [21]:
df_2016 = pd.read_csv("Events_2016.csv")

In [22]:
#Damages of 2015

# Google Drive file link
drive_link = "https://drive.google.com/file/d/1lmRvb1t0KywXtbrf1yAPZtjsA6m3mtC5/view?usp=drive_link"

# Extract the file ID from the link
file_id = drive_link.split('/d/')[1].split('/')[0]

# Create the direct download URL
url = f"https://drive.google.com/uc?id={file_id}"

# Output file name
output = "Events_2015.csv"

# Download the file
gdown.download(url, output, quiet=False)

print("Download complete!")

Downloading...
From: https://drive.google.com/uc?id=1lmRvb1t0KywXtbrf1yAPZtjsA6m3mtC5
To: C:\Users\nicar\OneDrive\Desktop\Business Analytics and Data science apllication\Capstone\Events_2015.csv
100%|██████████| 54.2M/54.2M [00:06<00:00, 7.87MB/s]

Download complete!

In [23]:

df_2015 = pd.read_csv("Events_2015.csv")

In [24]:
#Damages of 2014

# Google Drive file link
drive_link = "https://drive.google.com/file/d/1Lm-9Xr6G9x-547hVw_SME6dxv7ozd9ZX/view?usp=drive_link"

# Extract the file ID from the link
file_id = drive_link.split('/d/')[1].split('/')[0]

# Create the direct download URL
url = f"https://drive.google.com/uc?id={file_id}"

# Output file name
output = "Events_2014.csv"

# Download the file
gdown.download(url, output, quiet=False)

print("Download complete!")

Downloading...
From: https://drive.google.com/uc?id=1Lm-9Xr6G9x-547hVw_SME6dxv7ozd9ZX
To: C:\Users\nicar\OneDrive\Desktop\Business Analytics and Data science apllication\Capstone\Events_2014.csv
100%|██████████| 58.8M/58.8M [00:06<00:00, 9.55MB/s]

Download complete!

In [25]:
df_2014 = pd.read_csv("Events_2014.csv")

In [26]:
#Damages of 2013

# Google Drive file link
drive_link = "https://drive.google.com/file/d/1OboT4yG9StT95KR_ek8YA_zQj9NBAQsa/view?usp=drive_link"

# Extract the file ID from the link
file_id = drive_link.split('/d/')[1].split('/')[0]

# Create the direct download URL
url = f"https://drive.google.com/uc?id={file_id}"

# Output file name
output = "Events_2013.csv"

# Download the file
gdown.download(url, output, quiet=False)

print("Download complete!")

Downloading...
From: https://drive.google.com/uc?id=1OboT4yG9StT95KR_ek8YA_zQj9NBAQsa
To: C:\Users\nicar\OneDrive\Desktop\Business Analytics and Data science apllication\Capstone\Events_2013.csv
100%|██████████| 61.8M/61.8M [00:06<00:00, 9.82MB/s]

Download complete!

In [27]:
df_2013 = pd.read_csv("Events_2013.csv")

In [28]:
#Damages of 2012

# Google Drive file link
drive_link = "https://drive.google.com/file/d/1KAGVSTn_2RDdSm7925rKtjXHu_VpHjGt/view?usp=drive_link"

# Extract the file ID from the link
file_id = drive_link.split('/d/')[1].split('/')[0]

# Create the direct download URL
url = f"https://drive.google.com/uc?id={file_id}"

# Output file name
output = "Events_2012.csv"

# Download the file
gdown.download(url, output, quiet=False)

print("Download complete!")

Downloading...
From: https://drive.google.com/uc?id=1KAGVSTn_2RDdSm7925rKtjXHu_VpHjGt
To: C:\Users\nicar\OneDrive\Desktop\Business Analytics and Data science apllication\Capstone\Events_2012.csv
100%|██████████| 64.9M/64.9M [00:12<00:00, 5.16MB/s]

Download complete!

In [29]:
df_2012 = pd.read_csv("Events_2012.csv")

In [30]:
#Damages of 2011

# Google Drive file link
drive_link = "https://drive.google.com/file/d/1n1ZTk15RkO2TLD3Y6uh0qcwj3nOzpXLx/view?usp=drive_link"

# Extract the file ID from the link
file_id = drive_link.split('/d/')[1].split('/')[0]

# Create the direct download URL
url = f"https://drive.google.com/uc?id={file_id}"

# Output file name
output = "Events_2011.csv"

# Download the file
gdown.download(url, output, quiet=False)

print("Download complete!")

Downloading...
From: https://drive.google.com/uc?id=1n1ZTk15RkO2TLD3Y6uh0qcwj3nOzpXLx
To: C:\Users\nicar\OneDrive\Desktop\Business Analytics and Data science apllication\Capstone\Events_2011.csv
100%|██████████| 83.9M/83.9M [00:06<00:00, 12.2MB/s]

Download complete!

In [31]:
df_2011 = pd.read_csv("Events_2011.csv")

In [32]:
#Damages of 2010

# Google Drive file link
drive_link = "https://drive.google.com/file/d/1EIDGYVSyzWk6If8XDNZYFDK0K2g_twK1/view?usp=drive_link"

# Extract the file ID from the link
file_id = drive_link.split('/d/')[1].split('/')[0]

# Create the direct download URL
url = f"https://drive.google.com/uc?id={file_id}"

# Output file name
output = "Events_2010.csv"

# Download the file
gdown.download(url, output, quiet=False)

print("Download complete!")

Downloading...
From: https://drive.google.com/uc?id=1EIDGYVSyzWk6If8XDNZYFDK0K2g_twK1
To: C:\Users\nicar\OneDrive\Desktop\Business Analytics and Data science apllication\Capstone\Events_2010.csv
100%|██████████| 62.2M/62.2M [00:05<00:00, 10.6MB/s]

Download complete!

In [33]:

df_2010 = pd.read_csv("Events_2010.csv")

In [34]:
#Damages of 2009

# Google Drive file link
drive_link = "https://drive.google.com/file/d/1ye7aTZDkHIAOPlDEzbk44QIrDltwI3Lm/view?usp=drive_link"

# Extract the file ID from the link
file_id = drive_link.split('/d/')[1].split('/')[0]

# Create the direct download URL
url = f"https://drive.google.com/uc?id={file_id}"

# Output file name
output = "Events_2009.csv"

# Download the file
gdown.download(url, output, quiet=False)

print("Download complete!")

Downloading...
From: https://drive.google.com/uc?id=1ye7aTZDkHIAOPlDEzbk44QIrDltwI3Lm
To: C:\Users\nicar\OneDrive\Desktop\Business Analytics and Data science apllication\Capstone\Events_2009.csv
100%|██████████| 55.0M/55.0M [00:04<00:00, 11.1MB/s]

Download complete!

In [35]:
df_2009 = pd.read_csv("Events_2009.csv")

In [36]:
#Damages of 2008

# Google Drive file link
drive_link = "https://drive.google.com/file/d/1d8VZXOHy2ylXvjal-68g5QpsXubuttq-/view?usp=drive_link"

# Extract the file ID from the link
file_id = drive_link.split('/d/')[1].split('/')[0]

# Create the direct download URL
url = f"https://drive.google.com/uc?id={file_id}"

# Output file name
output = "Events_2008.csv"

# Download the file
gdown.download(url, output, quiet=False)

print("Download complete!")

Downloading...
From: https://drive.google.com/uc?id=1d8VZXOHy2ylXvjal-68g5QpsXubuttq-
To: C:\Users\nicar\OneDrive\Desktop\Business Analytics and Data science apllication\Capstone\Events_2008.csv
100%|██████████| 65.4M/65.4M [00:05<00:00, 11.3MB/s]

Download complete!

In [37]:
df_2008 = pd.read_csv("Events_2008.csv")

In [38]:
#Damages of 2007

# Google Drive file link
drive_link = "https://drive.google.com/file/d/1TuJWoZWsM3TkwCfDZ37Hl9iw1aZ1voOs/view?usp=drive_link"

# Extract the file ID from the link
file_id = drive_link.split('/d/')[1].split('/')[0]

# Create the direct download URL
url = f"https://drive.google.com/uc?id={file_id}"

# Output file name
output = "Events_2007.csv"

# Download the file
gdown.download(url, output, quiet=False)

print("Download complete!")

Downloading...
From: https://drive.google.com/uc?id=1TuJWoZWsM3TkwCfDZ37Hl9iw1aZ1voOs
To: C:\Users\nicar\OneDrive\Desktop\Business Analytics and Data science apllication\Capstone\Events_2007.csv
100%|██████████| 54.0M/54.0M [00:06<00:00, 7.84MB/s]

Download complete!

In [39]:
df_2007 = pd.read_csv("Events_2007.csv")

In [40]:
#Damages of 2006

# Google Drive file link
drive_link = "https://drive.google.com/file/d/18C-S_hZEMa3D7qT2DNCOjPszEVrJOt-q/view?usp=drive_link"

# Extract the file ID from the link
file_id = drive_link.split('/d/')[1].split('/')[0]

# Create the direct download URL
url = f"https://drive.google.com/uc?id={file_id}"

# Output file name
output = "Events_2006.csv"

# Download the file
gdown.download(url, output, quiet=False)

print("Download complete!")

Downloading...
From: https://drive.google.com/uc?id=18C-S_hZEMa3D7qT2DNCOjPszEVrJOt-q
To: C:\Users\nicar\OneDrive\Desktop\Business Analytics and Data science apllication\Capstone\Events_2006.csv
100%|██████████| 35.3M/35.3M [00:04<00:00, 7.70MB/s]

Download complete!

In [41]:
df_2006 = pd.read_csv("Events_2006.csv", low_memory=False)

In [42]:
#Damages of 2005

# Google Drive file link
drive_link = "https://drive.google.com/file/d/1ZkWUmAh1hh6d2pKMWFM9YPLZbQQA1tL9/view?usp=drive_link"

# Extract the file ID from the link
file_id = drive_link.split('/d/')[1].split('/')[0]

# Create the direct download URL
url = f"https://drive.google.com/uc?id={file_id}"

# Output file name
output = "Events_2005.csv"

# Download the file
gdown.download(url, output, quiet=False)

print("Download complete!")

Downloading...
From: https://drive.google.com/uc?id=1ZkWUmAh1hh6d2pKMWFM9YPLZbQQA1tL9
To: C:\Users\nicar\OneDrive\Desktop\Business Analytics and Data science apllication\Capstone\Events_2005.csv
100%|██████████| 41.1M/41.1M [00:04<00:00, 9.58MB/s]

Download complete!

In [43]:
df_2005 = pd.read_csv("Events_2005.csv")

In [44]:
#Damages of 2004

# Google Drive file link
drive_link = "https://drive.google.com/file/d/1VyY_p7iym-z8VwlOLfF_QHTHMsptUQIJ/view?usp=drive_link"

# Extract the file ID from the link
file_id = drive_link.split('/d/')[1].split('/')[0]

# Create the direct download URL
url = f"https://drive.google.com/uc?id={file_id}"

# Output file name
output = "Events_2004.csv"

# Download the file
gdown.download(url, output, quiet=False)

print("Download complete!")

Downloading...
From: https://drive.google.com/uc?id=1VyY_p7iym-z8VwlOLfF_QHTHMsptUQIJ
To: C:\Users\nicar\OneDrive\Desktop\Business Analytics and Data science apllication\Capstone\Events_2004.csv
100%|██████████| 40.5M/40.5M [00:05<00:00, 6.78MB/s]

Download complete!

In [45]:
df_2004 = pd.read_csv("Events_2004.csv")

In [46]:
#Damages of 2003

# Google Drive file link
drive_link = "https://drive.google.com/file/d/1UXmC9me-lqlEUdgfDU7s3T5thD3Bq3fN/view?usp=drive_link"

# Extract the file ID from the link
file_id = drive_link.split('/d/')[1].split('/')[0]

# Create the direct download URL
url = f"https://drive.google.com/uc?id={file_id}"

# Output file name
output = "Events_2003.csv"

# Download the file
gdown.download(url, output, quiet=False)

print("Download complete!")

Downloading...
From: https://drive.google.com/uc?id=1UXmC9me-lqlEUdgfDU7s3T5thD3Bq3fN
To: C:\Users\nicar\OneDrive\Desktop\Business Analytics and Data science apllication\Capstone\Events_2003.csv
100%|██████████| 34.4M/34.4M [00:03<00:00, 8.87MB/s]

Download complete!

In [47]:
df_2003 = pd.read_csv("Events_2003.csv")

In [48]:
#Damages of 2002

# Google Drive file link
drive_link = "https://drive.google.com/file/d/1EjLtlPWextlkfFKLL1xv_5-nWof3d_Tx/view?usp=drive_link"

# Extract the file ID from the link
file_id = drive_link.split('/d/')[1].split('/')[0]

# Create the direct download URL
url = f"https://drive.google.com/uc?id={file_id}"

# Output file name
output = "Events_2002.csv"

# Download the file
gdown.download(url, output, quiet=False)

print("Download complete!")

Downloading...
From: https://drive.google.com/uc?id=1EjLtlPWextlkfFKLL1xv_5-nWof3d_Tx
To: C:\Users\nicar\OneDrive\Desktop\Business Analytics and Data science apllication\Capstone\Events_2002.csv
100%|██████████| 36.6M/36.6M [00:03<00:00, 9.97MB/s]

Download complete!

In [49]:
df_2002 = pd.read_csv("Events_2002.csv")

To be sure that there is no mistake in the links or code, we want to check that all datasets are different from each other. This is done by comparing the value of the datasets

In [51]:
# Dynamically access the datasets by their names
years = list(range(2002, 2025))  # Years from 2002 to 2024
datasets = {year: globals()[f'df_{year}'] for year in years}

# Check pairwise equality
all_unique = True
for i, year1 in enumerate(years):
    for year2 in years[i + 1:]:
        if datasets[year1].equals(datasets[year2]):
            all_unique = False
            print(f"Dataset df_{year1} and Dataset df_{year2} are identical.")
if all_unique:
    print("All datasets are different.")

All datasets are different.

We also want to know if each dataset has the same quantity of variables (and thus the same variables)

In [53]:
# Get row and column counts for each dataset
dataset_info = {year: (len(datasets[year]), datasets[year].shape[1]) if datasets[year] is not None else (0, 0) for year in years}

# Display the row and column counts
for year, (row_count, col_count) in dataset_info.items():
    print(f"Dataset df_{year}: {row_count} rows, {col_count} columns.")

Dataset df_2002: 50936 rows, 51 columns.
Dataset df_2003: 52955 rows, 51 columns.
Dataset df_2004: 52409 rows, 51 columns.
Dataset df_2005: 53976 rows, 51 columns.
Dataset df_2006: 56400 rows, 51 columns.
Dataset df_2007: 59011 rows, 51 columns.
Dataset df_2008: 71190 rows, 51 columns.
Dataset df_2009: 57398 rows, 51 columns.
Dataset df_2010: 62807 rows, 51 columns.
Dataset df_2011: 79091 rows, 51 columns.
Dataset df_2012: 64503 rows, 51 columns.
Dataset df_2013: 59986 rows, 51 columns.
Dataset df_2014: 59475 rows, 51 columns.
Dataset df_2015: 57907 rows, 51 columns.
Dataset df_2016: 56005 rows, 51 columns.
Dataset df_2017: 57029 rows, 51 columns.
Dataset df_2018: 62697 rows, 51 columns.
Dataset df_2019: 67861 rows, 51 columns.
Dataset df_2020: 61279 rows, 51 columns.
Dataset df_2021: 61389 rows, 51 columns.
Dataset df_2022: 69886 rows, 51 columns.
Dataset df_2023: 75243 rows, 51 columns.
Dataset df_2024: 50623 rows, 51 columns.

Now we can merge all these datasets

In [55]:
dfs = [globals()[f"df_{year}"] for year in range(2002, 2025)]

# Combine them into one DataFrame
df = pd.concat(dfs, axis=0, ignore_index=True)

## GDP per county download and manipulation

In [57]:
# GDP per county

# Google Drive file link
drive_link = "https://drive.google.com/file/d/1FU-ycF-Z9CX55xDsJcxwpFr7ubHl0TTs/view?usp=sharing"

# Extract the file ID from the link
file_id = drive_link.split('/d/')[1].split('/')[0]

# Create the direct download URL
url = f"https://drive.google.com/uc?id={file_id}"

# Output file name
output = "GDP_county.csv"

# Download the file
gdown.download(url, output, quiet=False)

print("Download complete!")

Downloading...
From: https://drive.google.com/uc?id=1FU-ycF-Z9CX55xDsJcxwpFr7ubHl0TTs
To: C:\Users\nicar\OneDrive\Desktop\Business Analytics and Data science apllication\Capstone\GDP_county.csv
100%|██████████| 25.0M/25.0M [00:02<00:00, 10.2MB/s]

Download complete!

In [58]:
GDP_county = pd.read_csv("GDP_county.csv")

C:\Users\nicar\AppData\Local\Temp\ipykernel_5224\1499514357.py:1: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  GDP_county = pd.read_csv("GDP_county.csv")

In [59]:
# We have some columns with mixed values
GDP = pd.read_csv("GDP_county.csv", dtype={2: str})

In [60]:
GDP.head() # as we see we have the data for the counties and also for the states. We want to create 2 separate datasets based on this (will be easier afterwards if we do this)
# We also have data for each industry. We only care for the option "All industry total", which is the total GDP

,GeoFIPS,GeoName,Region,TableName,LineCode,IndustryClassification,Description,Unit,2001,2002,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,"""00000""",United States *,,CAGDP2,1.0,...,All industry total,Thousands of dollars,10581929000,10929108000,...,16880683000,17608138000,18295019000,18804913000,19612102000,20656516000,21521395000,21322950000,23594031000,25744108000
1,"""00000""",United States *,,CAGDP2,2.0,...,Private industries,Thousands of dollars,9188994000,9454709000,...,14665532000,15332504000,15951002000,16413054000,17156255000,18097765000,18889076000,18612228000,20784824000,22807496000
2,"""00000""",United States *,,CAGDP2,3.0,11,"Agriculture, forestry, fishing and hunting",Thousands of dollars,100765000,96667000,...,215847000,200581000,182147000,167492000,176840000,177117000,162043000,160778000,225670000,270820000
3,"""00000""",United States *,,CAGDP2,6.0,21,"Mining, quarrying, and oil and gas extraction",Thousands of dollars,123885000,112384000,...,388169000,418110000,262252000,211804000,267302000,313494000,293865000,201564000,332009000,457438000
4,"""00000""",United States *,,CAGDP2,10.0,22,Utilities,Thousands of dollars,181276000,177568000,...,287632000,299279000,300480000,303424000,313711000,320369000,331218000,344769000,386726000,438206000

In [61]:
GDP = GDP[GDP['Description'] == "All industry total "]
GDP['GeoFIPS'] = GDP['GeoFIPS'].str.replace('"', '', regex=False)

In [62]:
# We create the 2 datasets based on the data of States and for counties
# GDP per state
state_names = ["Alabama", "Alaska", "Arizona", "Arkansas", "California", "Colorado", "Connecticut", "Delaware", "Florida", "Georgia", "Hawaii", "Idaho", "Illinois", "Indiana", "Iowa", "Kansas", "Kentucky", "Louisiana", "Maine", "Maryland", "Massachusetts", "Michigan", "Minnesota", "Mississippi", "Missouri", "Montana", "Nebraska", "Nevada", "New Hampshire", "New Jersey", "New Mexico", "New York", "North Carolina", "North Dakota", "Ohio", "Oklahoma", "Oregon", "Pennsylvania", "Rhode Island", "South Carolina", "South Dakota", "Tennessee", "Texas", "Utah", "Vermont", "Virginia", "Washington", "West Virginia", "Wisconsin", "Wyoming"]
GDP_state = GDP[GDP['GeoName'].isin(state_names)]

# GDP per county
state_others = ["United States *", "New England", "Mideast", "Great Lakes","Plains", "Southeast", "Southwest","Rocky Mountain", "Far West", "Alabama", "Alaska", "Arizona", "Arkansas", "California", "Colorado", "Connecticut", "Delaware", "Florida", "Georgia", "Hawaii", "Idaho", "Illinois", "Indiana", "Iowa", "Kansas", "Kentucky", "Louisiana", "Maine", "Maryland", "Massachusetts", "Michigan", "Minnesota", "Mississippi", "Missouri", "Montana", "Nebraska", "Nevada", "New Hampshire", "New Jersey", "New Mexico", "New York", "North Carolina", "North Dakota", "Ohio", "Oklahoma", "Oregon", "Pennsylvania", "Rhode Island", "South Carolina", "South Dakota", "Tennessee", "Texas", "Utah", "Vermont", "Virginia", "Washington", "West Virginia", "Wisconsin", "Wyoming"]
GDP_county = GDP[~GDP['GeoName'].isin(state_others)]

We now procede with the manipulation for the GDP for each County

In [64]:
GDP_county.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3119 entries, 68 to 107746
Data columns (total 30 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   GeoFIPS                 3119 non-null   object
 1   GeoName                 3119 non-null   object
 2   Region                  3119 non-null   object
 3   TableName               3119 non-null   object
 4   LineCode                3119 non-null   float64
 5   IndustryClassification  3119 non-null   object
 6   Description             3119 non-null   object
 7   Unit                    3119 non-null   object
 8   2001                    3119 non-null   object
 9   2002                    3119 non-null   object
 10  2003                    3119 non-null   object
 11  2004                    3119 non-null   object
 12  2005                    3119 non-null   object
 13  2006                    3119 non-null   object
 14  2007                    3119 non-null   object
 15  2008                    3119 non-null   object
 16  2009                    3119 non-null   object
 17  2010                    3119 non-null   object
 18  2011                    3119 non-null   object
 19  2012                    3119 non-null   object
 20  2013                    3119 non-null   object
 21  2014                    3119 non-null   object
 22  2015                    3119 non-null   object
 23  2016                    3119 non-null   object
 24  2017                    3119 non-null   object
 25  2018                    3119 non-null   object
 26  2019                    3119 non-null   object
 27  2020                    3119 non-null   object
 28  2021                    3119 non-null   object
 29  2022                    3119 non-null   object
dtypes: float64(1), object(29)
memory usage: 755.4+ KB

In [65]:
GDP_county.drop(columns=['Region', 'TableName',  'LineCode',  'IndustryClassification' , 'Description', 'Unit'], inplace=True)

C:\Users\nicar\AppData\Local\Temp\ipykernel_5224\622782924.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  GDP_county.drop(columns=['Region', 'TableName',  'LineCode',  'IndustryClassification' , 'Description', 'Unit'], inplace=True)

In [66]:
GDP_county['County'] = GDP_county['GeoName'].str.split(',').str[0] # we notice that the "GeoName" has a structure of "coutny name , state abreviation"-> we only want the county name so we separate it
GDP_county.drop(columns=['GeoName'], inplace=True)
GDP_county.head()

C:\Users\nicar\AppData\Local\Temp\ipykernel_5224\4072028309.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  GDP_county['County'] = GDP_county['GeoName'].str.split(',').str[0] # we notice that the "GeoName" has a structure of "coutny name , state abreviation"-> we only want the county name so we separate it
C:\Users\nicar\AppData\Local\Temp\ipykernel_5224\4072028309.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  GDP_county.drop(columns=['GeoName'], inplace=True)

,GeoFIPS,2001,2002,2003,2004,2005,2006,2007,2008,2009,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,County
68,01001,760973,800045,834208,984461,1015320,1124089,1182234,1097703,1175769,...,1569120,1729098,1806246,1762558,1826642,1804013,1813553,1947622,2364891,Autauga
102,01003,3128482,3369358,3642003,4117129,4717641,5031537,5330102,5238424,5103539,...,6034727,6492574,6983037,7382558,7935575,8563693,8762106,9879022,10811119,Baldwin
136,01005,642028,637765,664978,741585,748820,744004,739799,713602,721550,...,779299,765000,757473,761761,789103,793908,786529,862519,930064,Barbour
170,01007,217109,224813,242515,265078,274898,282976,310906,317444,313213,...,381354,377535,392287,406741,408791,466293,501320,528278,558848,Bibb
204,01009,622473,637704,677995,721248,746559,741471,759827,788183,791532,...,928552,987510,925988,987967,1064218,1058218,973414,1153245,1282006,Blount

In [67]:
unique_count = GDP_county['County'].nunique()

print(f"Number of unique counties: {unique_count}") # we see that many places have the same name (as the quantity of unique values has another number)
# we can use the FIPS to differentiate them

Number of unique counties: 1838

In [68]:
GDP_state.head()

,GeoFIPS,GeoName,Region,TableName,LineCode,IndustryClassification,Description,Unit,2001,2002,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
34,01000,Alabama,5,CAGDP2,1.0,...,All industry total,Thousands of dollars,123534517,128380896,...,193981544,197064403,203113340,208824280,216615470,226263784,234526408,235118280,257986516,281569005
2346,02000,Alaska,8,CAGDP2,1.0,...,All industry total,Thousands of dollars,28660864,29884530,...,57532958,56587381,51574180,51121833,53550915,54761954,54469922,51261531,58646002,65698817
3536,04000,Arizona,6,CAGDP2,1.0,...,All industry total,Thousands of dollars,172899646,180844454,...,278679501,286675965,298942157,313787090,333098997,353670978,375544988,386443549,432279816,475653697
4080,05000,Arkansas,5,CAGDP2,1.0,...,All industry total,Thousands of dollars,71099645,74453133,...,114021074,117388715,118573554,120987446,123882586,129213792,132637152,135884518,151931913,165989269
6664,06000,California,8,CAGDP2,1.0,...,All industry total,Thousands of dollars,1373270815,1419321823,...,2223300903,2342218803,2487156418,2586485176,2740550256,2899530864,3062158945,3068809395,3416939441,3641643425

In [69]:
# we do now the same thing for the state GDP
GDP_state.drop(columns=['Region', 'TableName',  'LineCode',  'IndustryClassification' , 'Description', 'Unit'], inplace=True)
GDP_state.rename(columns={'GeoName': 'State'}, inplace=True)

C:\Users\nicar\AppData\Local\Temp\ipykernel_5224\2736625036.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  GDP_state.drop(columns=['Region', 'TableName',  'LineCode',  'IndustryClassification' , 'Description', 'Unit'], inplace=True)
C:\Users\nicar\AppData\Local\Temp\ipykernel_5224\2736625036.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  GDP_state.rename(columns={'GeoName': 'State'}, inplace=True)

## Population per county and per State download and maipulation

In [71]:
# Now we download the data of the population
# We start with the 2000-2010 population dataset

# Google Drive file link
drive_link = "https://drive.google.com/file/d/1zUGdtsDXcrBBoyTwuP9eWOOuQInFYOhe/view?usp=sharing"

# Extract the file ID from the link
file_id = drive_link.split('/d/')[1].split('/')[0]

# Create the direct download URL
url = f"https://drive.google.com/uc?id={file_id}"

# Output file name
output = "Pop_2000_2010.csv"

# Download the file
gdown.download(url, output, quiet=False)

print("Download complete!")

Downloading...
From: https://drive.google.com/uc?id=1zUGdtsDXcrBBoyTwuP9eWOOuQInFYOhe
To: C:\Users\nicar\OneDrive\Desktop\Business Analytics and Data science apllication\Capstone\Pop_2000_2010.csv
100%|██████████| 371k/371k [00:00<00:00, 4.51MB/s]

Download complete!

In [72]:
Pop_2000_2010 = pd.read_csv("Pop_2000_2010.csv")

In [73]:
# Population 2010-2020 dataset

# Google Drive file link
drive_link = "https://drive.google.com/file/d/1mBvNlAN0mfSXrstvCONp2ApTEdsycdva/view?usp=sharing"

# Extract the file ID from the link
file_id = drive_link.split('/d/')[1].split('/')[0]

# Create the direct download URL
url = f"https://drive.google.com/uc?id={file_id}"

# Output file name
output = "Pop_2010_2020.csv"

# Download the file
gdown.download(url, output, quiet=False)

print("Download complete!")

Downloading...
From: https://drive.google.com/uc?id=1mBvNlAN0mfSXrstvCONp2ApTEdsycdva
To: C:\Users\nicar\OneDrive\Desktop\Business Analytics and Data science apllication\Capstone\Pop_2010_2020.csv
100%|██████████| 3.87M/3.87M [00:00<00:00, 10.2MB/s]

Download complete!

In [74]:
Pop_2010_2020 = pd.read_csv("Pop_2010_2020.csv")

In [75]:
# Population 2020-2023 dataset

# Google Drive file link
drive_link = "https://drive.google.com/file/d/1wNNgknDem9h_SHdpNlDbJqjavQ7Lxfbp/view?usp=sharing"

# Extract the file ID from the link
file_id = drive_link.split('/d/')[1].split('/')[0]

# Create the direct download URL
url = f"https://drive.google.com/uc?id={file_id}"

# Output file name
output = "Pop_2020_2023.csv"

# Download the file
gdown.download(url, output, quiet=False)

print("Download complete!")

Downloading...
From: https://drive.google.com/uc?id=1wNNgknDem9h_SHdpNlDbJqjavQ7Lxfbp
To: C:\Users\nicar\OneDrive\Desktop\Business Analytics and Data science apllication\Capstone\Pop_2020_2023.csv
100%|██████████| 1.35M/1.35M [00:00<00:00, 7.42MB/s]

Download complete!

In [76]:
Pop_2020_2023 = pd.read_csv("Pop_2020_2023.csv")

In [77]:
# Now we want to keep only the interesting things in each dataset, we start by looking at the 2000-2010 dataset
print(Pop_2000_2010.info())
# we are only interested in the following columns: State, County, POPESTIMATE2000, POPESTIMATE2001, POPESTIMATE2002, POPESTIMATE2003, POPESTIMATE208, POPESTIMATE20004, POPESTIMATE2005, POPESTIMATE2006, POPESTIMATE2007, POPESTIMATE2008, POPESTIMATE2009, CENSUS2010POP
# thus now we delete the rest of the columns
Pop_2000_2010 = Pop_2000_2010[["STATE", "COUNTY", "CTYNAME", "POPESTIMATE2000", "POPESTIMATE2001", "POPESTIMATE2002","POPESTIMATE2003", "POPESTIMATE2004", "POPESTIMATE2005", "POPESTIMATE2006", "POPESTIMATE2007", "POPESTIMATE2008", "POPESTIMATE2009", "CENSUS2010POP"]]
print(Pop_2000_2010.columns)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3194 entries, 0 to 3193
Data columns (total 20 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   SUMLEV             3194 non-null   int64
 1   REGION             3194 non-null   int64
 2   DIVISION           3194 non-null   int64
 3   STATE              3194 non-null   int64
 4   COUNTY             3194 non-null   int64
 5   STNAME             3194 non-null   object
 6   CTYNAME            3194 non-null   object
 7   ESTIMATESBASE2000  3194 non-null   int64
 8   POPESTIMATE2000    3194 non-null   int64
 9   POPESTIMATE2001    3194 non-null   int64
 10  POPESTIMATE2002    3194 non-null   int64
 11  POPESTIMATE2003    3194 non-null   int64
 12  POPESTIMATE2004    3194 non-null   int64
 13  POPESTIMATE2005    3194 non-null   int64
 14  POPESTIMATE2006    3194 non-null   int64
 15  POPESTIMATE2007    3194 non-null   int64
 16  POPESTIMATE2008    3194 non-null   int64
 17  POPESTIMATE2009    3194 non-null   int64
 18  CENSUS2010POP      3194 non-null   int64
 19  POPESTIMATE2010    3194 non-null   int64
dtypes: int64(18), object(2)
memory usage: 499.2+ KB
None
Index(['STATE', 'COUNTY', 'CTYNAME', 'POPESTIMATE2000', 'POPESTIMATE2001',
       'POPESTIMATE2002', 'POPESTIMATE2003', 'POPESTIMATE2004',
       'POPESTIMATE2005', 'POPESTIMATE2006', 'POPESTIMATE2007',
       'POPESTIMATE2008', 'POPESTIMATE2009', 'CENSUS2010POP'],
      dtype='object')

In [78]:
Pop_2000_2010.rename(columns={'CENSUS2010POP': 'POPESTIMATE2010'}, inplace=True) # we use the actual census for 2010 but we rename the column so that aftwerards we can automize some process
Pop_2000_2010.head()

,STATE,COUNTY,CTYNAME,POPESTIMATE2000,POPESTIMATE2001,POPESTIMATE2002,POPESTIMATE2003,POPESTIMATE2004,POPESTIMATE2005,POPESTIMATE2006,POPESTIMATE2007,POPESTIMATE2008,POPESTIMATE2009,POPESTIMATE2010
0,1,0,Alabama,4452173,4467634,4480089,4503491,4530729,4569805,4628981,4672840,4718206,4757938,4779736
1,1,1,Autauga County,44021,44889,45909,46800,48366,49676,51328,52405,53277,54135,54571
2,1,3,Baldwin County,141342,144875,147957,151509,156266,162183,168121,172404,175827,179406,182265
3,1,5,Barbour County,29015,28863,28653,28594,28287,28027,27861,27757,27808,27657,27457
4,1,7,Bibb County,19913,21028,21199,21399,21721,22042,22099,22438,22705,22941,22915

In [79]:
# We do the same for the rest of the population datasets
# Population 2010-2020
print(Pop_2010_2020.info())
# we are only interested in the following columns: State, County, POPESTIMATE2011, POPESTIMATE2012, POPESTIMATE2013, POPESTIMATE2014, POPESTIMATE2015, POPESTIMATE2016, POPESTIMATE2017, POPESTIMATE2018, POPESTIMATE2019,POPESTIMATE2020
# thus now we delete the rest of the columns
Pop_2010_2020 = Pop_2010_2020[["STATE", "COUNTY", "CTYNAME", "POPESTIMATE2011", "POPESTIMATE2012", "POPESTIMATE2013","POPESTIMATE2014", "POPESTIMATE2015", "POPESTIMATE2016", "POPESTIMATE2017", "POPESTIMATE2018", "POPESTIMATE2019", "POPESTIMATE2020"]]
print(Pop_2010_2020.columns)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3194 entries, 0 to 3193
Columns: 180 entries, SUMLEV to RNETMIG2020
dtypes: float64(60), int64(117), object(3)
memory usage: 4.4+ MB
None
Index(['STATE', 'COUNTY', 'CTYNAME', 'POPESTIMATE2011', 'POPESTIMATE2012',
       'POPESTIMATE2013', 'POPESTIMATE2014', 'POPESTIMATE2015',
       'POPESTIMATE2016', 'POPESTIMATE2017', 'POPESTIMATE2018',
       'POPESTIMATE2019', 'POPESTIMATE2020'],
      dtype='object')

In [80]:
# Population 2020-2023
print(Pop_2020_2023.info())
# we are only interested in the following columns: State, County, POPESTIMATE2011, POPESTIMATE2012, POPESTIMATE2013, POPESTIMATE2014, POPESTIMATE2015, POPESTIMATE2016, POPESTIMATE2017, POPESTIMATE2018, POPESTIMATE2019,POPESTIMATE2020
# thus now we delete the rest of the columns
Pop_2020_2023 = Pop_2020_2023[["STATE", "COUNTY", "CTYNAME", "POPESTIMATE2021", "POPESTIMATE2022", "POPESTIMATE2023"]]

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3195 entries, 0 to 3194
Data columns (total 67 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   SUMLEV                 3195 non-null   int64
 1   REGION                 3195 non-null   int64
 2   DIVISION               3195 non-null   int64
 3   STATE                  3195 non-null   int64
 4   COUNTY                 3195 non-null   int64
 5   STNAME                 3195 non-null   object
 6   CTYNAME                3195 non-null   object
 7   ESTIMATESBASE2020      3195 non-null   int64
 8   POPESTIMATE2020        3195 non-null   int64
 9   POPESTIMATE2021        3195 non-null   int64
 10  POPESTIMATE2022        3195 non-null   int64
 11  POPESTIMATE2023        3195 non-null   int64
 12  NPOPCHG2020            3195 non-null   int64
 13  NPOPCHG2021            3195 non-null   int64
 14  NPOPCHG2022            3195 non-null   int64
 15  NPOPCHG2023            3195 non-null   int64
 16  BIRTHS2020             3195 non-null   int64
 17  BIRTHS2021             3195 non-null   int64
 18  BIRTHS2022             3195 non-null   int64
 19  BIRTHS2023             3195 non-null   int64
 20  DEATHS2020             3195 non-null   int64
 21  DEATHS2021             3195 non-null   int64
 22  DEATHS2022             3195 non-null   int64
 23  DEATHS2023             3195 non-null   int64
 24  NATURALCHG2020         3195 non-null   int64
 25  NATURALCHG2021         3195 non-null   int64
 26  NATURALCHG2022         3195 non-null   int64
 27  NATURALCHG2023         3195 non-null   int64
 28  INTERNATIONALMIG2020   3195 non-null   int64
 29  INTERNATIONALMIG2021   3195 non-null   int64
 30  INTERNATIONALMIG2022   3195 non-null   int64
 31  INTERNATIONALMIG2023   3195 non-null   int64
 32  DOMESTICMIG2020        3195 non-null   int64
 33  DOMESTICMIG2021        3195 non-null   int64
 34  DOMESTICMIG2022        3195 non-null   int64
 35  DOMESTICMIG2023        3195 non-null   int64
 36  NETMIG2020             3195 non-null   int64
 37  NETMIG2021             3195 non-null   int64
 38  NETMIG2022             3195 non-null   int64
 39  NETMIG2023             3195 non-null   int64
 40  RESIDUAL2020           3195 non-null   int64
 41  RESIDUAL2021           3195 non-null   int64
 42  RESIDUAL2022           3195 non-null   int64
 43  RESIDUAL2023           3195 non-null   int64
 44  GQESTIMATESBASE2020    3195 non-null   int64
 45  GQESTIMATES2020        3195 non-null   int64
 46  GQESTIMATES2021        3195 non-null   int64
 47  GQESTIMATES2022        3195 non-null   int64
 48  GQESTIMATES2023        3195 non-null   int64
 49  RBIRTH2021             3195 non-null   float64
 50  RBIRTH2022             3195 non-null   float64
 51  RBIRTH2023             3195 non-null   float64
 52  RDEATH2021             3195 non-null   float64
 53  RDEATH2022             3195 non-null   float64
 54  RDEATH2023             3195 non-null   float64
 55  RNATURALCHG2021        3195 non-null   float64
 56  RNATURALCHG2022        3195 non-null   float64
 57  RNATURALCHG2023        3195 non-null   float64
 58  RINTERNATIONALMIG2021  3195 non-null   float64
 59  RINTERNATIONALMIG2022  3195 non-null   float64
 60  RINTERNATIONALMIG2023  3195 non-null   float64
 61  RDOMESTICMIG2021       3195 non-null   float64
 62  RDOMESTICMIG2022       3195 non-null   float64
 63  RDOMESTICMIG2023       3195 non-null   float64
 64  RNETMIG2021            3195 non-null   float64
 65  RNETMIG2022            3195 non-null   float64
 66  RNETMIG2023            3195 non-null   float64
dtypes: float64(18), int64(47), object(2)
memory usage: 1.6+ MB
None

In [81]:
print(Pop_2020_2023.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3195 entries, 0 to 3194
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   STATE            3195 non-null   int64
 1   COUNTY           3195 non-null   int64
 2   CTYNAME          3195 non-null   object
 3   POPESTIMATE2021  3195 non-null   int64
 4   POPESTIMATE2022  3195 non-null   int64
 5   POPESTIMATE2023  3195 non-null   int64
dtypes: int64(5), object(1)
memory usage: 149.9+ KB
None

In [82]:
# Now we merge all the population datasets
Population = pd.merge(Pop_2000_2010, Pop_2010_2020, on=["STATE", "COUNTY", "CTYNAME"], how='inner')
Population.head()

,STATE,COUNTY,CTYNAME,POPESTIMATE2000,POPESTIMATE2001,POPESTIMATE2002,POPESTIMATE2003,POPESTIMATE2004,POPESTIMATE2005,POPESTIMATE2006,...,POPESTIMATE2011,POPESTIMATE2012,POPESTIMATE2013,POPESTIMATE2014,POPESTIMATE2015,POPESTIMATE2016,POPESTIMATE2017,POPESTIMATE2018,POPESTIMATE2019,POPESTIMATE2020
0,1,0,Alabama,4452173,4467634,4480089,4503491,4530729,4569805,4628981,...,4799642,4816632,4831586,4843737,4854803,4866824,4877989,4891628,4907965,4921532
1,1,1,Autauga County,44021,44889,45909,46800,48366,49676,51328,...,55229,54970,54747,54922,54903,55302,55448,55533,55769,56145
2,1,3,Baldwin County,141342,144875,147957,151509,156266,162183,168121,...,186579,190203,194978,199306,203101,207787,212737,218071,223565,229287
3,1,5,Barbour County,29015,28863,28653,28594,28287,28027,27861,...,27344,27172,26946,26768,26300,25828,25169,24887,24657,24589
4,1,7,Bibb County,19913,21028,21199,21399,21721,22042,22099,...,22736,22657,22510,22541,22553,22590,22532,22300,22313,22136

In [83]:
Population = pd.merge(Population, Pop_2020_2023, on=["STATE", "COUNTY", "CTYNAME"], how='inner')
Population = Population.rename(columns={'CTYNAME': 'State'})
Population.head()

,STATE,COUNTY,State,POPESTIMATE2000,POPESTIMATE2001,POPESTIMATE2002,POPESTIMATE2003,POPESTIMATE2004,POPESTIMATE2005,POPESTIMATE2006,...,POPESTIMATE2014,POPESTIMATE2015,POPESTIMATE2016,POPESTIMATE2017,POPESTIMATE2018,POPESTIMATE2019,POPESTIMATE2020,POPESTIMATE2021,POPESTIMATE2022,POPESTIMATE2023
0,1,0,Alabama,4452173,4467634,4480089,4503491,4530729,4569805,4628981,...,4843737,4854803,4866824,4877989,4891628,4907965,4921532,5050380,5073903,5108468
1,1,1,Autauga County,44021,44889,45909,46800,48366,49676,51328,...,54922,54903,55302,55448,55533,55769,56145,59203,59726,60342
2,1,3,Baldwin County,141342,144875,147957,151509,156266,162183,168121,...,199306,203101,207787,212737,218071,223565,229287,239439,246531,253507
3,1,5,Barbour County,29015,28863,28653,28594,28287,28027,27861,...,26768,26300,25828,25169,24887,24657,24589,24533,24700,24585
4,1,7,Bibb County,19913,21028,21199,21399,21721,22042,22099,...,22541,22553,22590,22532,22300,22313,22136,22359,21986,21868

In [84]:
# as we did for the GDP data we want to divide it based on the state or on the county 
# County level 
Population_county = Population[Population["COUNTY"] != 0] # as we saw from the observation of the dataset, the states have the value = 0 when the county is = 0

# State level
Population_state = Population[Population["COUNTY"] == 0]

## Calculation of GDP per capita per state and per county

Since there is no data on the GDP per capita per state and county, we will need to calculate it ourselves. The calculation is very easy: we divide the GDP (of the respective county or state) with the Population. The year, obviously, has to be respected.

In [87]:
# first of all we need to unify the years: we have data from 2000 until 2023 for the population and for the GDP we only have from 2001 to 2022
# thus we need to shorten the population dataset
Population_state.drop(columns = ['POPESTIMATE2000', 'POPESTIMATE2023'], inplace = True)
Population_state.head()

C:\Users\nicar\AppData\Local\Temp\ipykernel_5224\4213616799.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Population_state.drop(columns = ['POPESTIMATE2000', 'POPESTIMATE2023'], inplace = True)

,STATE,COUNTY,State,POPESTIMATE2001,POPESTIMATE2002,POPESTIMATE2003,POPESTIMATE2004,POPESTIMATE2005,POPESTIMATE2006,POPESTIMATE2007,...,POPESTIMATE2013,POPESTIMATE2014,POPESTIMATE2015,POPESTIMATE2016,POPESTIMATE2017,POPESTIMATE2018,POPESTIMATE2019,POPESTIMATE2020,POPESTIMATE2021,POPESTIMATE2022
0,1,0,Alabama,4467634,4480089,4503491,4530729,4569805,4628981,4672840,...,4831586,4843737,4854803,4866824,4877989,4891628,4907965,4921532,5050380,5073903
68,2,0,Alaska,633714,642337,648414,659286,666946,675302,680300,...,737626,737075,738430,742575,740983,736624,733603,731158,734923,733276
95,4,0,Arizona,5273477,5396255,5510364,5652404,5839077,6029141,6167681,...,6634690,6732873,6832810,6944767,7048088,7164228,7291843,7421401,7272487,7365684
111,5,0,Arkansas,2691571,2705927,2724816,2749686,2781097,2821761,2848650,...,2960459,2968759,2979732,2991815,3003855,3012161,3020985,3030522,3028443,3046404
187,6,0,California,34479458,34871843,35253159,35574576,35827943,36021202,36250311,...,38253768,38586706,38904296,39149186,39337785,39437463,39437610,39368078,39145060,39040616

In [88]:
GDP_capita_state = pd.merge(Population_state, GDP_state, on="State", how="inner")

for year in range(2001, 2023): 

    GDP_capita_state[str(year)] = pd.to_numeric(GDP_capita_state[str(year)], errors='coerce')
    GDP_capita_state[f"POPESTIMATE{year}"] = pd.to_numeric(GDP_capita_state[f"POPESTIMATE{year}"], errors='coerce')
    
    # Calculate GDP per capita
    GDP_capita_state[f"GDP_capita{year}"] = (
        (GDP_capita_state[str(year)] * 1000) / GDP_capita_state[f"POPESTIMATE{year}"]
    )

In [89]:
GDP_capita_state.head()

,STATE,COUNTY,State,POPESTIMATE2001,POPESTIMATE2002,POPESTIMATE2003,POPESTIMATE2004,POPESTIMATE2005,POPESTIMATE2006,POPESTIMATE2007,...,GDP_capita2013,GDP_capita2014,GDP_capita2015,GDP_capita2016,GDP_capita2017,GDP_capita2018,GDP_capita2019,GDP_capita2020,GDP_capita2021,GDP_capita2022
0,1,0,Alabama,4467634,4480089,4503491,4530729,4569805,4628981,4672840,...,40148.626973,40684.373037,41837.607005,42907.711477,44406.715554,46255.312955,47784.857471,47773.392513,51082.594973,55493.572699
1,2,0,Alaska,633714,642337,648414,659286,666946,675302,680300,...,77997.464840,76772.894210,69843.018296,68843.999596,72270.099314,74341.799887,74249.862664,70110.059659,79798.838790,89596.300711
2,4,0,Arizona,5273477,5396255,5510364,5652404,5839077,6029141,6167681,...,42003.394431,42578.549306,43750.983417,45183.242289,47260.902106,49366.237088,51502.067173,52071.509005,59440.438463,64576.989320
3,5,0,Arkansas,2691571,2705927,2724816,2749686,2781097,2821761,2848650,...,38514.660733,39541.342022,39793.361953,40439.481051,41241.200391,42897.372352,43905.266660,44838.650899,50168.325110,54486.952157
4,6,0,California,34479458,34871843,35253159,35574576,35827943,36021202,36250311,...,58119.788435,60700.148984,63930.122730,66067.406255,69667.121725,73522.246195,77645.652082,77951.720046,87289.160906,93278.329036

In [90]:
# We now drop the columns we do not need
columns_to_keep = [
    'STATE', 'COUNTY', 'State','GDP_capita2001', 'GDP_capita2002', 'GDP_capita2003', 'GDP_capita2004',
    'GDP_capita2005', 'GDP_capita2006', 'GDP_capita2007', 'GDP_capita2008',
    'GDP_capita2009', 'GDP_capita2010', 'GDP_capita2011', 'GDP_capita2012',
    'GDP_capita2013', 'GDP_capita2014', 'GDP_capita2015', 'GDP_capita2016',
    'GDP_capita2017', 'GDP_capita2018', 'GDP_capita2019', 'GDP_capita2020',
    'GDP_capita2021', 'GDP_capita2022'
]

GDP_capita_state = GDP_capita_state[columns_to_keep]

Now we manipulate the data for the counties

In [92]:
Population_county.drop(columns = ['POPESTIMATE2000', 'POPESTIMATE2023'], inplace = True)
Population_county.head()

C:\Users\nicar\AppData\Local\Temp\ipykernel_5224\3113787343.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Population_county.drop(columns = ['POPESTIMATE2000', 'POPESTIMATE2023'], inplace = True)

,STATE,COUNTY,State,POPESTIMATE2001,POPESTIMATE2002,POPESTIMATE2003,POPESTIMATE2004,POPESTIMATE2005,POPESTIMATE2006,POPESTIMATE2007,...,POPESTIMATE2013,POPESTIMATE2014,POPESTIMATE2015,POPESTIMATE2016,POPESTIMATE2017,POPESTIMATE2018,POPESTIMATE2019,POPESTIMATE2020,POPESTIMATE2021,POPESTIMATE2022
1,1,1,Autauga County,44889,45909,46800,48366,49676,51328,52405,...,54747,54922,54903,55302,55448,55533,55769,56145,59203,59726
2,1,3,Baldwin County,144875,147957,151509,156266,162183,168121,172404,...,194978,199306,203101,207787,212737,218071,223565,229287,239439,246531
3,1,5,Barbour County,28863,28653,28594,28287,28027,27861,27757,...,26946,26768,26300,25828,25169,24887,24657,24589,24533,24700
4,1,7,Bibb County,21028,21199,21399,21721,22042,22099,22438,...,22510,22541,22553,22590,22532,22300,22313,22136,22359,21986
5,1,9,Blount County,51845,52551,53457,54124,54624,55485,56240,...,57630,57536,57535,57487,57801,57770,57840,57879,59079,59516

In [93]:
# In order to recognize the counties we need to have the GEOID. This can be easily retrived from the data we already have. It is composed from to numbers that represents the state and three numbers that represent the county. 
# This needs to be done because some counties have the same name

Population_county['GEOID'] = (
    Population_county['STATE'].astype(str).str.zfill(2) +  
    Population_county['COUNTY'].astype(str).str.zfill(3)  
)

# Display the result
print(Population_county[['STATE', 'COUNTY', 'GEOID']].head())
Population_county.tail()

   STATE  COUNTY  GEOID
1      1       1  01001
2      1       3  01003
3      1       5  01005
4      1       7  01007
5      1       9  01009

C:\Users\nicar\AppData\Local\Temp\ipykernel_5224\443939415.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Population_county['GEOID'] = (

,STATE,COUNTY,State,POPESTIMATE2001,POPESTIMATE2002,POPESTIMATE2003,POPESTIMATE2004,POPESTIMATE2005,POPESTIMATE2006,POPESTIMATE2007,...,POPESTIMATE2014,POPESTIMATE2015,POPESTIMATE2016,POPESTIMATE2017,POPESTIMATE2018,POPESTIMATE2019,POPESTIMATE2020,POPESTIMATE2021,POPESTIMATE2022,GEOID
3175,56,37,Sweetwater County,36899,37428,37450,38026,38739,39749,41470,...,44996,44780,44319,43663,43188,42917,42673,41626,41374,56037
3176,56,39,Teton County,18653,18837,19066,19467,19632,20014,20472,...,22801,23083,23255,23383,23261,23385,23497,23605,23297,56039
3177,56,41,Uinta County,19413,19587,19480,19470,19494,19709,20171,...,20835,20777,20711,20449,20299,20196,20215,20681,20727,56041
3178,56,43,Washakie County,8068,7988,7976,7960,8022,7979,8169,...,8277,8282,8180,8013,7886,7824,7760,7719,7724,56043
3179,56,45,Weston County,6487,6578,6610,6646,6594,6717,7033,...,7134,7202,7228,6962,6895,6880,6743,6746,6858,56045

In [94]:
print(Population_county['GEOID'].dtype) # we want to transorm it to a int64
Population_county['GEOID'] = Population_county['GEOID'].astype('Int64')

object

C:\Users\nicar\AppData\Local\Temp\ipykernel_5224\1145949407.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Population_county['GEOID'] = Population_county['GEOID'].astype('Int64')

In [95]:
GDP_county.rename(columns={'GeoFIPS': 'GEOID'}, inplace=True)
GDP_county['GEOID'] = GDP_county['GEOID'].astype('Int64')

C:\Users\nicar\AppData\Local\Temp\ipykernel_5224\688756234.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  GDP_county.rename(columns={'GeoFIPS': 'GEOID'}, inplace=True)
C:\Users\nicar\AppData\Local\Temp\ipykernel_5224\688756234.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  GDP_county['GEOID'] = GDP_county['GEOID'].astype('Int64')

In [96]:
# now we can do the same process as before and merge based on GeoFIPS
GDP_capita_county = pd.merge(Population_county, GDP_county, on="GEOID", how="inner")

for year in range(2001, 2023): 

    GDP_capita_county[str(year)] = pd.to_numeric(GDP_capita_county[str(year)], errors='coerce')
    GDP_capita_county[f"POPESTIMATE{year}"] = pd.to_numeric(GDP_capita_county[f"POPESTIMATE{year}"], errors='coerce')
    
    # Calculate GDP per capita
    GDP_capita_county[f"GDP_capita{year}"] = (
        (GDP_capita_county[str(year)] * 1000) / GDP_capita_county[f"POPESTIMATE{year}"]
    )

In [97]:
GDP_capita_county.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3076 entries, 0 to 3075
Data columns (total 71 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   STATE            3076 non-null   int64
 1   COUNTY           3076 non-null   int64
 2   State            3076 non-null   object
 3   POPESTIMATE2001  3076 non-null   int64
 4   POPESTIMATE2002  3076 non-null   int64
 5   POPESTIMATE2003  3076 non-null   int64
 6   POPESTIMATE2004  3076 non-null   int64
 7   POPESTIMATE2005  3076 non-null   int64
 8   POPESTIMATE2006  3076 non-null   int64
 9   POPESTIMATE2007  3076 non-null   int64
 10  POPESTIMATE2008  3076 non-null   int64
 11  POPESTIMATE2009  3076 non-null   int64
 12  POPESTIMATE2010  3076 non-null   int64
 13  POPESTIMATE2011  3076 non-null   int64
 14  POPESTIMATE2012  3076 non-null   int64
 15  POPESTIMATE2013  3076 non-null   int64
 16  POPESTIMATE2014  3076 non-null   int64
 17  POPESTIMATE2015  3076 non-null   int64
 18  POPESTIMATE2016  3076 non-null   int64
 19  POPESTIMATE2017  3076 non-null   int64
 20  POPESTIMATE2018  3076 non-null   int64
 21  POPESTIMATE2019  3076 non-null   int64
 22  POPESTIMATE2020  3076 non-null   int64
 23  POPESTIMATE2021  3076 non-null   int64
 24  POPESTIMATE2022  3076 non-null   int64
 25  GEOID            3076 non-null   Int64
 26  2001             3071 non-null   float64
 27  2002             3072 non-null   float64
 28  2003             3072 non-null   float64
 29  2004             3072 non-null   float64
 30  2005             3072 non-null   float64
 31  2006             3072 non-null   float64
 32  2007             3072 non-null   float64
 33  2008             3074 non-null   float64
 34  2009             3076 non-null   int64
 35  2010             3076 non-null   int64
 36  2011             3076 non-null   int64
 37  2012             3076 non-null   int64
 38  2013             3076 non-null   int64
 39  2014             3076 non-null   int64
 40  2015             3076 non-null   int64
 41  2016             3076 non-null   int64
 42  2017             3076 non-null   int64
 43  2018             3076 non-null   int64
 44  2019             3076 non-null   int64
 45  2020             3076 non-null   int64
 46  2021             3076 non-null   int64
 47  2022             3076 non-null   int64
 48  County           3076 non-null   object
 49  GDP_capita2001   3071 non-null   float64
 50  GDP_capita2002   3072 non-null   float64
 51  GDP_capita2003   3072 non-null   float64
 52  GDP_capita2004   3072 non-null   float64
 53  GDP_capita2005   3072 non-null   float64
 54  GDP_capita2006   3072 non-null   float64
 55  GDP_capita2007   3072 non-null   float64
 56  GDP_capita2008   3074 non-null   float64
 57  GDP_capita2009   3076 non-null   float64
 58  GDP_capita2010   3076 non-null   float64
 59  GDP_capita2011   3076 non-null   float64
 60  GDP_capita2012   3076 non-null   float64
 61  GDP_capita2013   3076 non-null   float64
 62  GDP_capita2014   3076 non-null   float64
 63  GDP_capita2015   3076 non-null   float64
 64  GDP_capita2016   3076 non-null   float64
 65  GDP_capita2017   3076 non-null   float64
 66  GDP_capita2018   3076 non-null   float64
 67  GDP_capita2019   3076 non-null   float64
 68  GDP_capita2020   3076 non-null   float64
 69  GDP_capita2021   3076 non-null   float64
 70  GDP_capita2022   3076 non-null   float64
dtypes: Int64(1), float64(30), int64(38), object(2)
memory usage: 1.7+ MB

In [98]:
# we keep only the columns we need 
GDP_capita_county = GDP_capita_county[["STATE", "COUNTY", "State", "GEOID", "GDP_capita2002","GDP_capita2003","GDP_capita2004","GDP_capita2005","GDP_capita2006","GDP_capita2007","GDP_capita2008","GDP_capita2009","GDP_capita2010","GDP_capita2011","GDP_capita2012","GDP_capita2013","GDP_capita2014","GDP_capita2015","GDP_capita2016","GDP_capita2017","GDP_capita2018","GDP_capita2019","GDP_capita2020","GDP_capita2021","GDP_capita2022"]]
# we change also the name of the column called State to County
GDP_capita_county = GDP_capita_county.rename(columns={'State': 'County'})

In [99]:
GDP_capita_county.head()

,STATE,COUNTY,County,GEOID,GDP_capita2002,GDP_capita2003,GDP_capita2004,GDP_capita2005,GDP_capita2006,GDP_capita2007,...,GDP_capita2013,GDP_capita2014,GDP_capita2015,GDP_capita2016,GDP_capita2017,GDP_capita2018,GDP_capita2019,GDP_capita2020,GDP_capita2021,GDP_capita2022
0,1,1,Autauga County,1001,17426.757281,17824.957265,20354.401853,20438.843707,21900.112999,22559.564927,...,27590.059729,28569.971960,31493.688869,32661.495063,31787.584764,32892.910522,32347.953164,32301.237866,32897.353175,39595.670227
1,1,3,Baldwin County,1003,22772.548781,24038.195751,26346.927675,29088.381643,29928.069664,30916.347649,...,29628.173435,30278.702096,31967.218281,33606.707831,34702.745644,36389.868437,38305.159573,38214.578236,41259.034660,43852.979950
2,1,5,Barbour County,1005,22258.227760,23255.857872,26216.459858,26717.807828,26704.138401,26652.700220,...,30142.581459,29113.082785,29087.452471,29327.590212,30265.842902,31707.437618,32198.077625,31987.026719,35157.502140,37654.412955
3,1,7,Bibb County,1007,10604.887023,11333.006215,12203.765941,12471.554305,12804.923300,13856.226045,...,16588.271879,16918.237878,16739.901565,17365.515715,18051.704243,18331.434978,20897.817416,22647.271413,23627.085290,25418.357136
4,1,9,Blount County,1009,12134.954616,12682.997549,13325.844357,13667.234183,13363.449581,13510.437411,...,15340.430331,16138.626251,17163.639524,16107.780890,17092.558952,18421.637528,18295.608575,16818.086007,19520.387955,21540.526917

In [100]:
# now we pivot the GDP county and state datasets
gdp_columns = [col for col in GDP_capita_state.columns if col.startswith("GDP_capita")]

# Include 'CTYNAME' and 'GeoFIPS' in id_vars to retain them
GDP_capita_state = GDP_capita_state.melt(
    id_vars=["STATE", "State"],  # Include additional columns to retain
    value_vars=gdp_columns,
    var_name="Year",
    value_name="GDP_per_capita"
)

# Extract the year from the column names
GDP_capita_state["Year"] = GDP_capita_state["Year"].str.extract(r"(\d{4})").astype(int)

In [101]:
GDP_capita_state

      STATE          State  Year  GDP_per_capita
0         1        Alabama  2001    27650.993121
1         2         Alaska  2001    45226.812095
2         4        Arizona  2001    32786.650250
3         5       Arkansas  2001    26415.667653
4         6     California  2001    39828.665955
...     ...            ...   ...             ...
1095     51       Virginia  2022    76402.574622
1096     53     Washington  2022    94817.084950
1097     54  West Virginia  2022    54912.855722
1098     55      Wisconsin  2022    67261.927975
1099     56        Wyoming  2022    84384.686802

[1100 rows x 4 columns]

In [102]:
gdp_columns = [col for col in GDP_capita_county.columns if col.startswith("GDP_capita")]

# Include 'CTYNAME' and 'GeoFIPS' in id_vars to retain them
GDP_capita_county = GDP_capita_county.melt(
    id_vars=["STATE", "County", "GEOID"],  # Include additional columns to retain
    value_vars=gdp_columns,
    var_name="Year",
    value_name="GDP_per_capita"
)

# Extract the year from the column names
GDP_capita_county["Year"] = GDP_capita_county["Year"].str.extract(r"(\d{4})").astype(int)

In [103]:
GDP_capita_county

       STATE             County  GEOID  Year  GDP_per_capita
0          1     Autauga County   1001  2002    17426.757281
1          1     Baldwin County   1003  2002    22772.548781
2          1     Barbour County   1005  2002    22258.227760
3          1        Bibb County   1007  2002    10604.887023
4          1      Blount County   1009  2002    12134.954616
...      ...                ...    ...   ...             ...
64591     56  Sweetwater County  56037  2022    99552.255039
64592     56       Teton County  56039  2022   178405.288235
64593     56       Uinta County  56041  2022    49882.665123
64594     56    Washakie County  56043  2022    54530.036251
64595     56      Weston County  56045  2022    60319.626713

[64596 rows x 5 columns]

## State and county size loading and maipulation

In [105]:
# Now we download the dataset with the size of the counties in such a way that we can calculate the density of each county. This needs to be done because thre is no unique big available dataset on the densityy of the counties 

# Google Drive file link
drive_link = "https://drive.google.com/file/d/1GCUYNOeeRwOB0UVIXwvhXa8-BygnQnx_/view?usp=sharing"

# Extract the file ID from the link
file_id = drive_link.split('/d/')[1].split('/')[0]

# Create the direct download URL
url = f"https://drive.google.com/uc?id={file_id}"

# Output file name
output = "size_county.txt"

# Download the file
gdown.download(url, output, quiet=False)

print("Download complete!")

Downloading...
From: https://drive.google.com/uc?id=1GCUYNOeeRwOB0UVIXwvhXa8-BygnQnx_
To: C:\Users\nicar\OneDrive\Desktop\Business Analytics and Data science apllication\Capstone\size_county.txt
100%|██████████| 648k/648k [00:00<00:00, 5.78MB/s]

Download complete!

In [106]:
# Read the .txt file into a DataFrame
size_county = pd.read_csv("size_county.txt", delimiter='\t') 

print(size_county.head())

  USPS  GEOID  ANSICODE            NAME       ALAND      AWATER  ALAND_SQMI  \
0   AL   1001    161526  Autauga County  1539631459    25677536     594.455
1   AL   1003    161527  Baldwin County  4117781416  1132830835    1589.884
2   AL   1005    161528  Barbour County  2292160151    50523213     885.008
3   AL   1007    161529     Bibb County  1612188713     9572302     622.470
4   AL   1009    161530   Blount County  1670259099    14860281     644.891

   AWATER_SQMI   INTPTLAT  \
0        9.914  32.532237
1      437.388  30.659218
2       19.507  31.870253
3        3.696  33.015893
4        5.738  33.977358

   INTPTLONG
0                                         -86.646440
1                                         -87.746067
2                                         -85.405104
3                                         -87.127148
4                                         -86.566440

In [107]:
# We want just to keep the ALAND (squared meters) to calculate the density
size_county = size_county[["USPS", "GEOID", "NAME", "ALAND"]]
# To be able to merge we also need to rename the column name which indicates the column for the county name
size_county.rename(columns={"NAME": "County"}, inplace=True)

In [108]:
size_county.head()

  USPS  GEOID          County       ALAND
0   AL   1001  Autauga County  1539631459
1   AL   1003  Baldwin County  4117781416
2   AL   1005  Barbour County  2292160151
3   AL   1007     Bibb County  1612188713
4   AL   1009   Blount County  1670259099

As done before we want to have the data for the sate and for the county (note, we do not have the data at state level, but we can sum all the counties of the same state)

In [110]:
# size state
# Group by 'USPS' (state) and sum the 'ALAND' values
size_state = size_county.groupby('USPS')['ALAND'].sum().reset_index()

# Rename columns for clarity
size_state.columns = ['State', 'Total_ALAND']
size_state # we have 52 states because of puerto rico and dc, we need to rename the states to their "long names"

   State    Total_ALAND
0     AK  1479508971743
1     AL   131185561946
2     AR   134658517854
3     AZ   294366118294
4     CA   403673433805
5     CO   268418973518
6     CT    12541999507
7     DC      158316181
8     DE     5046692239
9     FL   138965379385
10    GA   149485762701
11    HI    16634423918
12    IA   144660344616
13    ID   214050504522
14    IL   143778206717
15    IN    92786694938
16    KS   211753821560
17    KY   102266755818
18    LA   111920866908
19    MA    20204400635
20    MD    25151223822
21    ME    79888396620
22    MI   146621709684
23    MN   206244791203
24    MO   178052403953
25    MS   121534116434
26    MT   376973404582
27    NC   125935965771
28    ND   178694319927
29    NE   198949953125
30    NH    23190211616
31    NJ    19049229866
32    NM   314198519809
33    NV   284537045743
34    NY   122049155860
35    OH   105824130554
36    OK   177664629521
37    OR   248630421366
38    PA   115881476238
39    PR     8869519701
40    RI     2677768885
41    SC    77865663223
42    SD   196341670967
43    TN   106770544103
44    TX   676656702022
45    UT   213921882299
46    VA   102256342555
47    VT    23872594714
48    WA   172118798160
49    WI   140294555214
50    WV    62266513826
51    WY   251458190512

In [111]:
state_mapping = {
    'AK': 'Alaska', 'AL': 'Alabama', 'AR': 'Arkansas', 'AZ': 'Arizona',
    'CA': 'California', 'CO': 'Colorado', 'CT': 'Connecticut', 'DC': 'District of Columbia',
    'DE': 'Delaware', 'FL': 'Florida', 'GA': 'Georgia', 'HI': 'Hawaii',
    'ID': 'Idaho', 'IL': 'Illinois', 'IN': 'Indiana', 'KS': 'Kansas', 'KY': 'Kentucky',
    'LA': 'Louisiana', 'ME': 'Maine', 'MD': 'Maryland', 'MA': 'Massachusetts',
    'MI': 'Michigan', 'MN': 'Minnesota', 'MS': 'Mississippi', 'MO': 'Missouri',
    'MT': 'Montana', 'NE': 'Nebraska', 'NV': 'Nevada', 'NH': 'New Hampshire',
    'NJ': 'New Jersey', 'NM': 'New Mexico', 'NY': 'New York', 'NC': 'North Carolina',
    'ND': 'North Dakota', 'OH': 'Ohio', 'OK': 'Oklahoma', 'OR': 'Oregon',
    'PA': 'Pennsylvania', 'RI': 'Rhode Island', 'SC': 'South Carolina', 'SD': 'South Dakota',
    'TN': 'Tennessee', 'TX': 'Texas', 'UT': 'Utah', 'VT': 'Vermont', 'VA': 'Virginia',
    'WA': 'Washington', 'WV': 'West Virginia', 'WI': 'Wisconsin', 'WY': 'Wyoming',
    'PR': 'Puerto Rico', "IA" : "Iowa"
}

# Map abbreviations to full names in the 'State' column
size_state['State'] = size_state['State'].map(state_mapping)
size_state

                   State    Total_ALAND
0                 Alaska  1479508971743
1                Alabama   131185561946
2               Arkansas   134658517854
3                Arizona   294366118294
4             California   403673433805
5               Colorado   268418973518
6            Connecticut    12541999507
7   District of Columbia      158316181
8               Delaware     5046692239
9                Florida   138965379385
10               Georgia   149485762701
11                Hawaii    16634423918
12                  Iowa   144660344616
13                 Idaho   214050504522
14              Illinois   143778206717
15               Indiana    92786694938
16                Kansas   211753821560
17              Kentucky   102266755818
18             Louisiana   111920866908
19         Massachusetts    20204400635
20              Maryland    25151223822
21                 Maine    79888396620
22              Michigan   146621709684
23             Minnesota   206244791203
24              Missouri   178052403953
25           Mississippi   121534116434
26               Montana   376973404582
27        North Carolina   125935965771
28          North Dakota   178694319927
29              Nebraska   198949953125
30         New Hampshire    23190211616
31            New Jersey    19049229866
32            New Mexico   314198519809
33                Nevada   284537045743
34              New York   122049155860
35                  Ohio   105824130554
36              Oklahoma   177664629521
37                Oregon   248630421366
38          Pennsylvania   115881476238
39           Puerto Rico     8869519701
40          Rhode Island     2677768885
41        South Carolina    77865663223
42          South Dakota   196341670967
43             Tennessee   106770544103
44                 Texas   676656702022
45                  Utah   213921882299
46              Virginia   102256342555
47               Vermont    23872594714
48            Washington   172118798160
49             Wisconsin   140294555214
50         West Virginia    62266513826
51               Wyoming   251458190512

Now we can calculate the density for each state

In [113]:
size_county

     USPS  GEOID               County       ALAND
0      AL   1001       Autauga County  1539631459
1      AL   1003       Baldwin County  4117781416
2      AL   1005       Barbour County  2292160151
3      AL   1007          Bibb County  1612188713
4      AL   1009        Blount County  1670259099
...   ...    ...                  ...         ...
3217   PR  72145  Vega Baja Municipio   118746311
3218   PR  72147    Vieques Municipio   131541389
3219   PR  72149   Villalba Municipio    92200653
3220   PR  72151    Yabucoa Municipio   143005187
3221   PR  72153      Yauco Municipio   175436927

[3222 rows x 4 columns]

In [114]:
# We remove Puerto rico from both 
population_state = Population_state.rename(columns={'CTYNAME': 'State'})  # Rename column to match
population_state = population_state[population_state['State'] != "Puerto Rico"]
size_state = size_state[size_state['State'] != "Puerto Rico"]
# we merge the 2  datasets 
density_state = pd.merge(population_state, size_state, on = "State", how = "inner")
# Loop through the years to calculate density
for year in range(2001, 2023):  # From 2001 to 2023
    density_state[f"Density{year}"] = density_state[f"POPESTIMATE{year}"] / (density_state["Total_ALAND"] / 1e+6)

In [115]:
pd.set_option('display.max_columns', None)  
pd.set_option('display.width', 1000)       

# Now display the first few rows
density_state.head()

   STATE  COUNTY       State  POPESTIMATE2001  POPESTIMATE2002  POPESTIMATE2003  POPESTIMATE2004  POPESTIMATE2005  POPESTIMATE2006  POPESTIMATE2007  POPESTIMATE2008  POPESTIMATE2009  POPESTIMATE2010  POPESTIMATE2011  POPESTIMATE2012  POPESTIMATE2013  POPESTIMATE2014  POPESTIMATE2015  POPESTIMATE2016  POPESTIMATE2017  POPESTIMATE2018  POPESTIMATE2019  POPESTIMATE2020  POPESTIMATE2021  POPESTIMATE2022    Total_ALAND  Density2001  Density2002  Density2003  Density2004  Density2005  Density2006  Density2007  Density2008  Density2009  Density2010  Density2011  Density2012  Density2013  Density2014  Density2015  Density2016  Density2017  Density2018  Density2019  Density2020  Density2021  Density2022
0      1       0     Alabama          4467634          4480089          4503491          4530729          4569805          4628981          4672840          4718206          4757938          4779736          4799642          4816632          4831586          4843737          4854803          4866824          4877989          4891628          4907965          4921532          5050380          5073903   131185561946    34.055836    34.150778    34.329167    34.536796    34.834664    35.285750    35.620078    35.965894    36.268763    36.434924    36.586663    36.716175    36.830166    36.922790    37.007144    37.098778    37.183886    37.287853    37.412387    37.515805    38.497987    38.677297
1      2       0      Alaska           633714           642337           648414           659286           666946           675302           680300           687455           698895           710231           722349           730810           737626           737075           738430           742575           740983           736624           733603           731158           734923           733276  1479508971743     0.428327     0.434156     0.438263     0.445611     0.450789     0.456437     0.459815     0.464651     0.472383     0.480045     0.488236     0.493954     0.498561     0.498189     0.499105     0.501906     0.500830     0.497884     0.495842     0.494190     0.496734     0.495621
2      4       0     Arizona          5273477          5396255          5510364          5652404          5839077          6029141          6167681          6280362          6343154          6392017          6473416          6556344          6634690          6732873          6832810          6944767          7048088          7164228          7291843          7421401          7272487          7365684   294366118294    17.914687    18.331780    18.719423    19.201952    19.836104    20.481776    20.952415    21.335207    21.548519    21.714513    21.991036    22.272754    22.538905    22.872446    23.211944    23.592277    23.943272    24.337815    24.771339    25.211465    24.705584    25.022187
3      5       0    Arkansas          2691571          2705927          2724816          2749686          2781097          2821761          2848650          2874554          2896843          2915918          2941038          2952876          2960459          2968759          2979732          2991815          3003855          3012161          3020985          3030522          3028443          3046404   134658517854    19.988123    20.094733    20.235007    20.419696    20.652960    20.954939    21.154622    21.346990    21.512512    21.654167    21.840713    21.928624    21.984937    22.046574    22.128062    22.217792    22.307204    22.368886    22.434414    22.505238    22.489799    22.623181
4      6       0  California         34479458         34871843         35253159         35574576         35827943         36021202         36250311         36604337         36961229         37253956         37636311         37944551         38253768         38586706         38904296         39149186         39337785         39437463         39437610         39368078         39145060         39040616   403673433805    85.414236    86.386272    87.330887    88.127117    88.754771    89.233521    89.801082    90.678093    91.562203    92.287361    93.234550    93.998138    94.764145    95.588916    96.375666    96.982320    97.449527    97.696454    97.696818    97.524570    96.972099    96.713365

In [116]:
# Now we keep only the density 
density_state = density_state.drop(['POPESTIMATE2001','POPESTIMATE2002','POPESTIMATE2003','POPESTIMATE2004','POPESTIMATE2005','POPESTIMATE2006','POPESTIMATE2007','POPESTIMATE2008','POPESTIMATE2009','POPESTIMATE2010','POPESTIMATE2011','POPESTIMATE2012','POPESTIMATE2013','POPESTIMATE2014','POPESTIMATE2015','POPESTIMATE2016','POPESTIMATE2017','POPESTIMATE2018','POPESTIMATE2019','POPESTIMATE2020','POPESTIMATE2021','POPESTIMATE2022', 'Total_ALAND'], axis=1)
density_state.head()

   STATE  COUNTY       State  Density2001  Density2002  Density2003  Density2004  Density2005  Density2006  Density2007  Density2008  Density2009  Density2010  Density2011  Density2012  Density2013  Density2014  Density2015  Density2016  Density2017  Density2018  Density2019  Density2020  Density2021  Density2022
0      1       0     Alabama    34.055836    34.150778    34.329167    34.536796    34.834664    35.285750    35.620078    35.965894    36.268763    36.434924    36.586663    36.716175    36.830166    36.922790    37.007144    37.098778    37.183886    37.287853    37.412387    37.515805    38.497987    38.677297
1      2       0      Alaska     0.428327     0.434156     0.438263     0.445611     0.450789     0.456437     0.459815     0.464651     0.472383     0.480045     0.488236     0.493954     0.498561     0.498189     0.499105     0.501906     0.500830     0.497884     0.495842     0.494190     0.496734     0.495621
2      4       0     Arizona    17.914687    18.331780    18.719423    19.201952    19.836104    20.481776    20.952415    21.335207    21.548519    21.714513    21.991036    22.272754    22.538905    22.872446    23.211944    23.592277    23.943272    24.337815    24.771339    25.211465    24.705584    25.022187
3      5       0    Arkansas    19.988123    20.094733    20.235007    20.419696    20.652960    20.954939    21.154622    21.346990    21.512512    21.654167    21.840713    21.928624    21.984937    22.046574    22.128062    22.217792    22.307204    22.368886    22.434414    22.505238    22.489799    22.623181
4      6       0  California    85.414236    86.386272    87.330887    88.127117    88.754771    89.233521    89.801082    90.678093    91.562203    92.287361    93.234550    93.998138    94.764145    95.588916    96.375666    96.982320    97.449527    97.696454    97.696818    97.524570    96.972099    96.713365

In [117]:
# now we can procede with the counties 
size_county # we see that there are counties from Puerto Rico which we want to remove

     USPS  GEOID               County       ALAND
0      AL   1001       Autauga County  1539631459
1      AL   1003       Baldwin County  4117781416
2      AL   1005       Barbour County  2292160151
3      AL   1007          Bibb County  1612188713
4      AL   1009        Blount County  1670259099
...   ...    ...                  ...         ...
3217   PR  72145  Vega Baja Municipio   118746311
3218   PR  72147    Vieques Municipio   131541389
3219   PR  72149   Villalba Municipio    92200653
3220   PR  72151    Yabucoa Municipio   143005187
3221   PR  72153      Yauco Municipio   175436927

[3222 rows x 4 columns]

In [118]:
size_county = size_county[size_county['USPS'] != 'PR']

In [119]:
unique_count = size_county['County'].nunique()

print(f"Number of unique counties: {unique_count}") # we see that we have unique 1882 names of the counties
# this is due to some counties that have the same name. Therefore we use the GEOID (FIPS code)

Number of unique counties: 1882

In [120]:
Population_county # as we see here this does not have the GEOID, however it is quite easy to compose ourselves

      STATE  COUNTY              State  POPESTIMATE2001  POPESTIMATE2002  POPESTIMATE2003  POPESTIMATE2004  POPESTIMATE2005  POPESTIMATE2006  POPESTIMATE2007  POPESTIMATE2008  POPESTIMATE2009  POPESTIMATE2010  POPESTIMATE2011  POPESTIMATE2012  POPESTIMATE2013  POPESTIMATE2014  POPESTIMATE2015  POPESTIMATE2016  POPESTIMATE2017  POPESTIMATE2018  POPESTIMATE2019  POPESTIMATE2020  POPESTIMATE2021  POPESTIMATE2022  GEOID
1         1       1     Autauga County            44889            45909            46800            48366            49676            51328            52405            53277            54135            54571            55229            54970            54747            54922            54903            55302            55448            55533            55769            56145            59203            59726   1001
2         1       3     Baldwin County           144875           147957           151509           156266           162183           168121           172404           175827           179406           182265           186579           190203           194978           199306           203101           207787           212737           218071           223565           229287           239439           246531   1003
3         1       5     Barbour County            28863            28653            28594            28287            28027            27861            27757            27808            27657            27457            27344            27172            26946            26768            26300            25828            25169            24887            24657            24589            24533            24700   1005
4         1       7        Bibb County            21028            21199            21399            21721            22042            22099            22438            22705            22941            22915            22736            22657            22510            22541            22553            22590            22532            22300            22313            22136            22359            21986   1007
5         1       9      Blount County            51845            52551            53457            54124            54624            55485            56240            57055            57341            57322            57561            57585            57630            57536            57535            57487            57801            57770            57840            57879            59079            59516   1009
...     ...     ...                ...              ...              ...              ...              ...              ...              ...              ...              ...              ...              ...              ...              ...              ...              ...              ...              ...              ...              ...              ...              ...              ...              ...    ...
3175     56      37  Sweetwater County            36899            37428            37450            38026            38739            39749            41470            42358            44133            43806            44000            45032            45189            44996            44780            44319            43663            43188            42917            42673            41626            41374  56037
3176     56      39       Teton County            18653            18837            19066            19467            19632            20014            20472            20988            21232            21294            21422            21643            22335            22801            23083            23255            23383            23261            23385            23497            23605            23297  56039
3177     56      41       Uinta County            19413            19587            19480            19470            19494            19709            20171            20613            21054            21118            20901            21008            20969            20835            20777            20711            20449            20299            20196            20215            20681            20727  56041
3178     56      43    Washakie County             8068             7988             7976             7960             8022             7979             8169             8229             8423             8533             8451             8410             8417             8277             8282             8180             8013             7886             7824             7760             7719             7724  56043
3179     56      45      Weston County             6487             6578             6610             6646             6594             6717             7033             7133             7266             7208             7142             7075             7132             7134             7202             7228             6962             6895             6880             6743             6746             6858  56045

[3129 rows x 26 columns]

In [121]:
# now we can merge based on the GEOID and calculate the density
density_county = pd.merge(Population_county, size_county, on = "GEOID", how = "inner")
# Loop through the years to calculate density
for year in range(2001, 2023):
    density_county[f"Density{year}"] = density_county[f"POPESTIMATE{year}"] / (density_county["ALAND"] / 1e+6)

In [122]:
density_county.head()

   STATE  COUNTY           State  POPESTIMATE2001  POPESTIMATE2002  POPESTIMATE2003  POPESTIMATE2004  POPESTIMATE2005  POPESTIMATE2006  POPESTIMATE2007  POPESTIMATE2008  POPESTIMATE2009  POPESTIMATE2010  POPESTIMATE2011  POPESTIMATE2012  POPESTIMATE2013  POPESTIMATE2014  POPESTIMATE2015  POPESTIMATE2016  POPESTIMATE2017  POPESTIMATE2018  POPESTIMATE2019  POPESTIMATE2020  POPESTIMATE2021  POPESTIMATE2022  GEOID USPS          County       ALAND  Density2001  Density2002  Density2003  Density2004  Density2005  Density2006  Density2007  Density2008  Density2009  Density2010  Density2011  Density2012  Density2013  Density2014  Density2015  Density2016  Density2017  Density2018  Density2019  Density2020  Density2021  Density2022
0      1       1  Autauga County            44889            45909            46800            48366            49676            51328            52405            53277            54135            54571            55229            54970            54747            54922            54903            55302            55448            55533            55769            56145            59203            59726   1001   AL  Autauga County  1539631459    29.155679    29.818175    30.396885    31.414011    32.264864    33.337848    34.037366    34.603736    35.161012    35.444197    35.871572    35.703349    35.558510    35.672173    35.659833    35.918985    36.013813    36.069021    36.222305    36.466519    38.452709    38.792400
1      1       3  Baldwin County           144875           147957           151509           156266           162183           168121           172404           175827           179406           182265           186579           190203           194978           199306           203101           207787           212737           218071           223565           229287           239439           246531   1003   AL  Baldwin County  4117781416    35.182781    35.931242    36.793842    37.949076    39.386015    40.828054    41.868177    42.699450    43.568607    44.262913    45.310564    46.190650    47.350255    48.401306    49.322919    50.460911    51.663014    52.958372    54.292586    55.682169    58.147574    59.869861
2      1       5  Barbour County            28863            28653            28594            28287            28027            27861            27757            27808            27657            27457            27344            27172            26946            26768            26300            25828            25169            24887            24657            24589            24533            24700   1005   AL  Barbour County  2292160151    12.592052    12.500435    12.474696    12.340761    12.227331    12.154910    12.109538    12.131788    12.065911    11.978657    11.929358    11.854320    11.755723    11.678067    11.473893    11.267974    10.980472    10.857444    10.757102    10.727435    10.703004    10.775861
3      1       7     Bibb County            21028            21199            21399            21721            22042            22099            22438            22705            22941            22915            22736            22657            22510            22541            22553            22590            22532            22300            22313            22136            22359            21986   1007   AL     Bibb County  1612188713    13.043138    13.149205    13.273260    13.472989    13.672097    13.707452    13.917726    14.083339    14.229724    14.213597    14.102567    14.053566    13.962385    13.981614    13.989057    14.012007    13.976031    13.832128    13.840191    13.730403    13.868724    13.637361
4      1       9   Blount County            51845            52551            53457            54124            54624            55485            56240            57055            57341            57322            57561            57585            57630            57536            57535            57487            57801            57770            57840            57879            59079            59516   1009   AL   Blount County  1670259099    31.040094    31.462783    32.005214    32.404553    32.703908    33.219397    33.671423    34.159371    34.330602    34.319226    34.462318    34.476687    34.503629    34.447350    34.446751    34.418013    34.606008    34.587448    34.629358    34.652707    35.371159    35.632795

In [123]:
# now we can take out all the useless columns 
density_county = density_county.drop(['COUNTY', 'State', 'USPS','POPESTIMATE2001','POPESTIMATE2002','POPESTIMATE2003','POPESTIMATE2004','POPESTIMATE2005','POPESTIMATE2006','POPESTIMATE2007','POPESTIMATE2008','POPESTIMATE2009','POPESTIMATE2010','POPESTIMATE2011','POPESTIMATE2012','POPESTIMATE2013','POPESTIMATE2014','POPESTIMATE2015','POPESTIMATE2016','POPESTIMATE2017','POPESTIMATE2018','POPESTIMATE2019','POPESTIMATE2020','POPESTIMATE2021','POPESTIMATE2022', 'ALAND'], axis=1)
density_county.head()

   STATE  GEOID          County  Density2001  Density2002  Density2003  Density2004  Density2005  Density2006  Density2007  Density2008  Density2009  Density2010  Density2011  Density2012  Density2013  Density2014  Density2015  Density2016  Density2017  Density2018  Density2019  Density2020  Density2021  Density2022
0      1   1001  Autauga County    29.155679    29.818175    30.396885    31.414011    32.264864    33.337848    34.037366    34.603736    35.161012    35.444197    35.871572    35.703349    35.558510    35.672173    35.659833    35.918985    36.013813    36.069021    36.222305    36.466519    38.452709    38.792400
1      1   1003  Baldwin County    35.182781    35.931242    36.793842    37.949076    39.386015    40.828054    41.868177    42.699450    43.568607    44.262913    45.310564    46.190650    47.350255    48.401306    49.322919    50.460911    51.663014    52.958372    54.292586    55.682169    58.147574    59.869861
2      1   1005  Barbour County    12.592052    12.500435    12.474696    12.340761    12.227331    12.154910    12.109538    12.131788    12.065911    11.978657    11.929358    11.854320    11.755723    11.678067    11.473893    11.267974    10.980472    10.857444    10.757102    10.727435    10.703004    10.775861
3      1   1007     Bibb County    13.043138    13.149205    13.273260    13.472989    13.672097    13.707452    13.917726    14.083339    14.229724    14.213597    14.102567    14.053566    13.962385    13.981614    13.989057    14.012007    13.976031    13.832128    13.840191    13.730403    13.868724    13.637361
4      1   1009   Blount County    31.040094    31.462783    32.005214    32.404553    32.703908    33.219397    33.671423    34.159371    34.330602    34.319226    34.462318    34.476687    34.503629    34.447350    34.446751    34.418013    34.606008    34.587448    34.629358    34.652707    35.371159    35.632795

In [124]:
# Pivot for the state
# now we want to pivot the tables
density_columns = [col for col in density_state.columns if col.startswith("Density")]

# Include 'CTYNAME' and 'GeoFIPS' in id_vars to retain them
density_state = density_state.melt(
    id_vars=["STATE", "State"],  # Include additional columns to retain
    value_vars= density_columns,
    var_name="Year",
    value_name="Density"
)

# Extract the year from the column names
density_state["Year"] = density_state["Year"].str.extract(r"(\d{4})").astype(int)

In [125]:
density_state.head()

   STATE       State  Year    Density
0      1     Alabama  2001  34.055836
1      2      Alaska  2001   0.428327
2      4     Arizona  2001  17.914687
3      5    Arkansas  2001  19.988123
4      6  California  2001  85.414236

In [126]:
# Pivot for the county
# now we want to pivot the tables
density_columns = [col for col in density_county.columns if col.startswith("Density")]

# Include 'CTYNAME' and 'GeoFIPS' in id_vars to retain them
density_county = density_county.melt(
    id_vars=["STATE", "County", "GEOID"],  # Include additional columns to retain
    value_vars= density_columns,
    var_name="Year",
    value_name="Density"
)

# Extract the year from the column names
density_county["Year"] = density_county["Year"].str.extract(r"(\d{4})").astype(int)

In [127]:
density_county.head()

   STATE          County  GEOID  Year    Density
0      1  Autauga County   1001  2001  29.155679
1      1  Baldwin County   1003  2001  35.182781
2      1  Barbour County   1005  2001  12.592052
3      1     Bibb County   1007  2001  13.043138
4      1   Blount County   1009  2001  31.040094

In [128]:
# Because of the needed data for the streamlit app we need to create a dataset with the data of GDP per capita and density for each year and county
density_state.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1122 entries, 0 to 1121
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   STATE    1122 non-null   int64
 1   State    1122 non-null   object
 2   Year     1122 non-null   int32
 3   Density  1122 non-null   float64
dtypes: float64(1), int32(1), int64(1), object(1)
memory usage: 30.8+ KB

In [129]:
state = density_state
state = state[state['Year'] == 2008]
state = state.drop(['Year', 'Density'], axis=1)
state['STATE'] = state['STATE'].astype('category')

In [130]:
state.info()

<class 'pandas.core.frame.DataFrame'>
Index: 51 entries, 357 to 407
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   STATE   51 non-null     category
 1   State   51 non-null     object
dtypes: category(1), object(1)
memory usage: 3.3+ KB

In [131]:
# Merge density_county and GDP_capita_county
merged_data_county = pd.merge(density_county, GDP_capita_county, on=['GEOID', 'Year'], how='inner')


# Drop unnecessary columns
merged_data_county.drop(['STATE_x', 'County_y'], axis=1, inplace=True)

# Rename columns for clarity
merged_data_county.rename(columns={'County_x': 'County', 'STATE_y': 'STATE'}, inplace=True)

# Ensure 'STATE' in merged_data_county and 'STATE' in state DataFrame are of the same type
state['STATE'] = state['STATE'].astype('category')
merged_data_county['STATE'] = merged_data_county['STATE'].astype('category')

# Merge with state DataFrame to add state names
# Assuming 'state' DataFrame has columns: 'STATE' (state code) and 'State' (state name)
merged_data_county = merged_data_county.merge(state[['STATE', 'State']], on='STATE', how='inner')


# Save the merged dataset to a CSV file
merged_data_county.to_csv("merged_data_county.csv", index=False)

In [132]:
merged_data_county.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 64596 entries, 0 to 64595
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   County          64596 non-null  object
 1   GEOID           64596 non-null  Int64
 2   Year            64596 non-null  int32
 3   Density         64596 non-null  float64
 4   STATE           64596 non-null  int64
 5   GDP_per_capita  64570 non-null  float64
 6   State           64596 non-null  object
dtypes: Int64(1), float64(2), int32(1), int64(1), object(2)
memory usage: 3.3+ MB

# Final manipulations and generate the final datasets

We might want to know how long an event took, however we only have the beginning and the end of the event, therefore we have to calculate ourselves how much time it took

In [135]:
# Convert BEGIN and END date/time into datetime
df['BEGIN_DATETIME'] = pd.to_datetime(
    df['BEGIN_YEARMONTH'].astype(str) + df['BEGIN_DAY'].astype(str).str.zfill(2) + df['BEGIN_TIME'].astype(str).str.zfill(4),
    format='%Y%m%d%H%M'
)
df['END_DATETIME'] = pd.to_datetime(
    df['END_YEARMONTH'].astype(str) + df['END_DAY'].astype(str).str.zfill(2) + df['END_TIME'].astype(str).str.zfill(4),
    format='%Y%m%d%H%M'
)

# Calculate the duration in hours
df['DURATION_HOURS'] = (df['END_DATETIME'] - df['BEGIN_DATETIME']).dt.total_seconds() / 3600
df.head()

   BEGIN_YEARMONTH  BEGIN_DAY  BEGIN_TIME  END_YEARMONTH  END_DAY  END_TIME  EPISODE_ID  EVENT_ID STATE  STATE_FIPS  YEAR MONTH_NAME    EVENT_TYPE CZ_TYPE  CZ_FIPS                                            CZ_NAME  WFO     BEGIN_DATE_TIME CZ_TIMEZONE       END_DATE_TIME  INJURIES_DIRECT  INJURIES_INDIRECT  DEATHS_DIRECT  DEATHS_INDIRECT DAMAGE_PROPERTY DAMAGE_CROPS          SOURCE  MAGNITUDE MAGNITUDE_TYPE FLOOD_CAUSE  CATEGORY TOR_F_SCALE  TOR_LENGTH  TOR_WIDTH TOR_OTHER_WFO TOR_OTHER_CZ_STATE  TOR_OTHER_CZ_FIPS TOR_OTHER_CZ_NAME  BEGIN_RANGE BEGIN_AZIMUTH BEGIN_LOCATION  END_RANGE END_AZIMUTH END_LOCATION  BEGIN_LAT  BEGIN_LON  END_LAT  END_LON                                  EPISODE_NARRATIVE EVENT_NARRATIVE DATA_SOURCE      BEGIN_DATETIME        END_DATETIME  DURATION_HOURS
0           200201         15         700         200201       15      1900     2151794   5324157  UTAH          49  2002    January    Heavy Snow       Z        8                     WASATCH MOUNTAINS SOUTH OF I80  SLC  15-JAN-02 07:00:00         MST  15-JAN-02 19:00:00                0                  0              0                0             10K            0  GENERAL PUBLIC        NaN            NaN         NaN       NaN         NaN         NaN        NaN           NaN                NaN                NaN               NaN          NaN           NaN            NaN        NaN         NaN          NaN        NaN        NaN      NaN      NaN  A cold arctic storm dropped several inches of ...             NaN         PDS 2002-01-15 07:00:00 2002-01-15 19:00:00            12.0
1           200201         15         700         200201       15      1900     2151794   5324158  UTAH          49  2002    January    Heavy Snow       Z        4            SOUTHERN WASATCH FRONT/LEHI/PROVO/NEPHI  SLC  15-JAN-02 07:00:00         MST  15-JAN-02 19:00:00                0                  0              0                0             50K            0  GENERAL PUBLIC        NaN            NaN         NaN       NaN         NaN         NaN        NaN           NaN                NaN                NaN               NaN          NaN           NaN            NaN        NaN         NaN          NaN        NaN        NaN      NaN      NaN  A cold arctic storm dropped several inches of ...             NaN         PDS 2002-01-15 07:00:00 2002-01-15 19:00:00            12.0
2           200201         18         600         200201       18      1700     2151795   5324159  UTAH          49  2002    January    Heavy Snow       Z        2  NORTHERN WASATCH FRONT/BRIGHAM CITY/OGDEN BOUN...  SLC  18-JAN-02 06:00:00         MST  18-JAN-02 17:00:00                0                  0              0                0               0            0  GENERAL PUBLIC        NaN            NaN         NaN       NaN         NaN         NaN        NaN           NaN                NaN                NaN               NaN          NaN           NaN            NaN        NaN         NaN          NaN        NaN        NaN      NaN      NaN  Another storm brought good amounts of snow to ...             NaN         PDS 2002-01-18 06:00:00 2002-01-18 17:00:00            11.0
3           200203         13         700         200203       14      1100     2151814   5324343  UTAH          49  2002      March  Winter Storm       Z        6    P NC WEBER/P C MORGAN/P W C SUMMIT/P SC WASATCH  SLC  13-MAR-02 07:00:00         MST  14-MAR-02 11:00:00                0                  0              0                0               0            0  GENERAL PUBLIC        NaN            NaN         NaN       NaN         NaN         NaN        NaN           NaN                NaN                NaN               NaN          NaN           NaN            NaN        NaN         NaN          NaN        NaN        NaN      NaN      NaN  A blast of snow and wind hit much of Utah, pou...             NaN         PDS 2002-03-13 07:00:00 2002-03-14 11:00:00            28.0
4           200203         13         700         200203       14      1100     2151814   5324344  UTAH          49  2002      March  Winter Storm       Z        7  RICH/CACHE T NW/P E C WEBER/MOST OF MORGAN/NW ...  SLC  13-MAR-02 07:00:00         MST  14-MAR-02 11:00:00                0                  0              0                0               0            0  GENERAL PUBLIC        NaN            NaN         NaN       NaN         NaN         NaN        NaN           NaN                NaN                NaN               NaN          NaN           NaN            NaN        NaN         NaN          NaN        NaN        NaN      NaN      NaN  A blast of snow and wind hit much of Utah, pou...             NaN         PDS 2002-03-13 07:00:00 2002-03-14 11:00:00            28.0

The same could be said for the distance (we have beginning lat and long and ending lat and long). Based on this we can calculate the distance

In [137]:
# as we did not know how to calculate the distance, this calculation was taken by using Chat GPT
def haversine(lat1, lon1, lat2, lon2):
    """
    Calculate the great-circle distance between two points on the Earth's surface.
    """
    # Convert latitude and longitude from degrees to radians
    lat1, lon1, lat2, lon2 = map(np.radians, [lat1, lon1, lat2, lon2])
    
    # Haversine formula
    dlat = lat2 - lat1
    dlon = lon2 - lon1
    a = np.sin(dlat / 2)**2 + np.cos(lat1) * np.cos(lat2) * np.sin(dlon / 2)**2
    c = 2 * np.arcsin(np.sqrt(a))
    
    # Radius of the Earth in kilometers
    r = 6371  
    return c * r  # Distance in kilometers

# Calculate distance and add as a new column
df['Distance_km'] = df.apply(lambda row: haversine(row['BEGIN_LAT'], row['BEGIN_LON'], row['END_LAT'], row['END_LON']), axis=1)

df.head()

   BEGIN_YEARMONTH  BEGIN_DAY  BEGIN_TIME  END_YEARMONTH  END_DAY  END_TIME  EPISODE_ID  EVENT_ID STATE  STATE_FIPS  YEAR MONTH_NAME    EVENT_TYPE CZ_TYPE  CZ_FIPS                                            CZ_NAME  WFO     BEGIN_DATE_TIME CZ_TIMEZONE       END_DATE_TIME  INJURIES_DIRECT  INJURIES_INDIRECT  DEATHS_DIRECT  DEATHS_INDIRECT DAMAGE_PROPERTY DAMAGE_CROPS          SOURCE  MAGNITUDE MAGNITUDE_TYPE FLOOD_CAUSE  CATEGORY TOR_F_SCALE  TOR_LENGTH  TOR_WIDTH TOR_OTHER_WFO TOR_OTHER_CZ_STATE  TOR_OTHER_CZ_FIPS TOR_OTHER_CZ_NAME  BEGIN_RANGE BEGIN_AZIMUTH BEGIN_LOCATION  END_RANGE END_AZIMUTH END_LOCATION  BEGIN_LAT  BEGIN_LON  END_LAT  END_LON                                  EPISODE_NARRATIVE EVENT_NARRATIVE DATA_SOURCE      BEGIN_DATETIME        END_DATETIME  DURATION_HOURS  Distance_km
0           200201         15         700         200201       15      1900     2151794   5324157  UTAH          49  2002    January    Heavy Snow       Z        8                     WASATCH MOUNTAINS SOUTH OF I80  SLC  15-JAN-02 07:00:00         MST  15-JAN-02 19:00:00                0                  0              0                0             10K            0  GENERAL PUBLIC        NaN            NaN         NaN       NaN         NaN         NaN        NaN           NaN                NaN                NaN               NaN          NaN           NaN            NaN        NaN         NaN          NaN        NaN        NaN      NaN      NaN  A cold arctic storm dropped several inches of ...             NaN         PDS 2002-01-15 07:00:00 2002-01-15 19:00:00            12.0          NaN
1           200201         15         700         200201       15      1900     2151794   5324158  UTAH          49  2002    January    Heavy Snow       Z        4            SOUTHERN WASATCH FRONT/LEHI/PROVO/NEPHI  SLC  15-JAN-02 07:00:00         MST  15-JAN-02 19:00:00                0                  0              0                0             50K            0  GENERAL PUBLIC        NaN            NaN         NaN       NaN         NaN         NaN        NaN           NaN                NaN                NaN               NaN          NaN           NaN            NaN        NaN         NaN          NaN        NaN        NaN      NaN      NaN  A cold arctic storm dropped several inches of ...             NaN         PDS 2002-01-15 07:00:00 2002-01-15 19:00:00            12.0          NaN
2           200201         18         600         200201       18      1700     2151795   5324159  UTAH          49  2002    January    Heavy Snow       Z        2  NORTHERN WASATCH FRONT/BRIGHAM CITY/OGDEN BOUN...  SLC  18-JAN-02 06:00:00         MST  18-JAN-02 17:00:00                0                  0              0                0               0            0  GENERAL PUBLIC        NaN            NaN         NaN       NaN         NaN         NaN        NaN           NaN                NaN                NaN               NaN          NaN           NaN            NaN        NaN         NaN          NaN        NaN        NaN      NaN      NaN  Another storm brought good amounts of snow to ...             NaN         PDS 2002-01-18 06:00:00 2002-01-18 17:00:00            11.0          NaN
3           200203         13         700         200203       14      1100     2151814   5324343  UTAH          49  2002      March  Winter Storm       Z        6    P NC WEBER/P C MORGAN/P W C SUMMIT/P SC WASATCH  SLC  13-MAR-02 07:00:00         MST  14-MAR-02 11:00:00                0                  0              0                0               0            0  GENERAL PUBLIC        NaN            NaN         NaN       NaN         NaN         NaN        NaN           NaN                NaN                NaN               NaN          NaN           NaN            NaN        NaN         NaN          NaN        NaN        NaN      NaN      NaN  A blast of snow and wind hit much of Utah, pou...             NaN         PDS 2002-03-13 07:00:00 2002-03-14 11:00:00            28.0          NaN
4           200203         13         700         200203       14      1100     2151814   5324344  UTAH          49  2002      March  Winter Storm       Z        7  RICH/CACHE T NW/P E C WEBER/MOST OF MORGAN/NW ...  SLC  13-MAR-02 07:00:00         MST  14-MAR-02 11:00:00                0                  0              0                0               0            0  GENERAL PUBLIC        NaN            NaN         NaN       NaN         NaN         NaN        NaN           NaN                NaN                NaN               NaN          NaN           NaN            NaN        NaN         NaN          NaN        NaN        NaN      NaN      NaN  A blast of snow and wind hit much of Utah, pou...             NaN         PDS 2002-03-13 07:00:00 2002-03-14 11:00:00            28.0          NaN

In [138]:
df.head()

   BEGIN_YEARMONTH  BEGIN_DAY  BEGIN_TIME  END_YEARMONTH  END_DAY  END_TIME  EPISODE_ID  EVENT_ID STATE  STATE_FIPS  YEAR MONTH_NAME    EVENT_TYPE CZ_TYPE  CZ_FIPS                                            CZ_NAME  WFO     BEGIN_DATE_TIME CZ_TIMEZONE       END_DATE_TIME  INJURIES_DIRECT  INJURIES_INDIRECT  DEATHS_DIRECT  DEATHS_INDIRECT DAMAGE_PROPERTY DAMAGE_CROPS          SOURCE  MAGNITUDE MAGNITUDE_TYPE FLOOD_CAUSE  CATEGORY TOR_F_SCALE  TOR_LENGTH  TOR_WIDTH TOR_OTHER_WFO TOR_OTHER_CZ_STATE  TOR_OTHER_CZ_FIPS TOR_OTHER_CZ_NAME  BEGIN_RANGE BEGIN_AZIMUTH BEGIN_LOCATION  END_RANGE END_AZIMUTH END_LOCATION  BEGIN_LAT  BEGIN_LON  END_LAT  END_LON                                  EPISODE_NARRATIVE EVENT_NARRATIVE DATA_SOURCE      BEGIN_DATETIME        END_DATETIME  DURATION_HOURS  Distance_km
0           200201         15         700         200201       15      1900     2151794   5324157  UTAH          49  2002    January    Heavy Snow       Z        8                     WASATCH MOUNTAINS SOUTH OF I80  SLC  15-JAN-02 07:00:00         MST  15-JAN-02 19:00:00                0                  0              0                0             10K            0  GENERAL PUBLIC        NaN            NaN         NaN       NaN         NaN         NaN        NaN           NaN                NaN                NaN               NaN          NaN           NaN            NaN        NaN         NaN          NaN        NaN        NaN      NaN      NaN  A cold arctic storm dropped several inches of ...             NaN         PDS 2002-01-15 07:00:00 2002-01-15 19:00:00            12.0          NaN
1           200201         15         700         200201       15      1900     2151794   5324158  UTAH          49  2002    January    Heavy Snow       Z        4            SOUTHERN WASATCH FRONT/LEHI/PROVO/NEPHI  SLC  15-JAN-02 07:00:00         MST  15-JAN-02 19:00:00                0                  0              0                0             50K            0  GENERAL PUBLIC        NaN            NaN         NaN       NaN         NaN         NaN        NaN           NaN                NaN                NaN               NaN          NaN           NaN            NaN        NaN         NaN          NaN        NaN        NaN      NaN      NaN  A cold arctic storm dropped several inches of ...             NaN         PDS 2002-01-15 07:00:00 2002-01-15 19:00:00            12.0          NaN
2           200201         18         600         200201       18      1700     2151795   5324159  UTAH          49  2002    January    Heavy Snow       Z        2  NORTHERN WASATCH FRONT/BRIGHAM CITY/OGDEN BOUN...  SLC  18-JAN-02 06:00:00         MST  18-JAN-02 17:00:00                0                  0              0                0               0            0  GENERAL PUBLIC        NaN            NaN         NaN       NaN         NaN         NaN        NaN           NaN                NaN                NaN               NaN          NaN           NaN            NaN        NaN         NaN          NaN        NaN        NaN      NaN      NaN  Another storm brought good amounts of snow to ...             NaN         PDS 2002-01-18 06:00:00 2002-01-18 17:00:00            11.0          NaN
3           200203         13         700         200203       14      1100     2151814   5324343  UTAH          49  2002      March  Winter Storm       Z        6    P NC WEBER/P C MORGAN/P W C SUMMIT/P SC WASATCH  SLC  13-MAR-02 07:00:00         MST  14-MAR-02 11:00:00                0                  0              0                0               0            0  GENERAL PUBLIC        NaN            NaN         NaN       NaN         NaN         NaN        NaN           NaN                NaN                NaN               NaN          NaN           NaN            NaN        NaN         NaN          NaN        NaN        NaN      NaN      NaN  A blast of snow and wind hit much of Utah, pou...             NaN         PDS 2002-03-13 07:00:00 2002-03-14 11:00:00            28.0          NaN
4           200203         13         700         200203       14      1100     2151814   5324344  UTAH          49  2002      March  Winter Storm       Z        7  RICH/CACHE T NW/P E C WEBER/MOST OF MORGAN/NW ...  SLC  13-MAR-02 07:00:00         MST  14-MAR-02 11:00:00                0                  0              0                0               0            0  GENERAL PUBLIC        NaN            NaN         NaN       NaN         NaN         NaN        NaN           NaN                NaN                NaN               NaN          NaN           NaN            NaN        NaN         NaN          NaN        NaN        NaN      NaN      NaN  A blast of snow and wind hit much of Utah, pou...             NaN         PDS 2002-03-13 07:00:00 2002-03-14 11:00:00            28.0          NaN

In [139]:
df['GEOID'] = (
    df['STATE_FIPS'].astype(str).str.zfill(2) +  
    df['CZ_FIPS'].astype(str).str.zfill(3))
df['GEOID'] = df['GEOID'].astype('Int64')
print(df['GEOID'].dtype)

Int64

Now we can drop all the columns that are of no interest to our prediction. These would be: <br>
- EPISODE_ID
- EVENT_ID
- WFO
- CZ_TIMEZONE
- SOURCE
- CATEGORY
- TOR_OTHER_CZ_STATE
- TOR_OTHER_CZ_NAME
- DATA_SOURCE
- TOR_OTHER_CZ_FIPS
- DAMAGE_CROPS

In [141]:
# List of columns to drop
# We drop all the columns that are not useful for our predictiom
columns_to_drop = [
    "EPISODE_ID", # describes just the identification number of the Episode, has no predictive utility
    "EVENT_ID", # describes just the identification of the Event, has no predictive utility
    "WFO", # National Weather Service Forecast Office’s area of responsibility, has no predictive utiltiy
    "CZ_TIMEZONE", # Describes the predictive power of the County or zone, has no predictive utility
    "SOURCE", # describes the soruce of the information, has no predictive utility
    "CATEGORY", # Unknown (During the time of downloading this particular file, NCDC has never seen anything provided within this field.)-> copy pasted from the explanation of the variabes by the source, has no explanatory utility
    "TOR_OTHER_CZ_STATE", # shows if the tornado went from one state to another -> just tells to which state (State-code), has no explanatory utility
    "TOR_OTHER_CZ_NAME", # shows if the tornado went from one state to another-> just tells to which state (name), has no explanatory utility
    "DATA_SOURCE", # shows the soruce of the infromation of the data, has no explanatory utility
    "TOR_OTHER_WFO", # as for the normal WFO, this does not interest us
    "TOR_OTHER_CZ_FIPS", # FIPS code of the county or zone where the Tornado moved, has no explanatory utily
    "DAMAGE_CROPS", # We are only interested on the damages on the crops
]

# Drop the columns
df = df.drop(columns=columns_to_drop)

From the Master dataset we are only interested in the following Natural Hazards:<br>
- Avalanche <br>
- Blizzards <br>
- Coastal Flood<br>
- Debris Flood<br>
- Flash Flood<br>
- Flood<br>
- Hail<br>
- High Surf <br>
- High Wind<br>
- Hurricane<br>
- Lakeshore Flood<br>
- Lightning<br>
- Seiche <br>
- Storm Surge/Tide <br>
- Strong wind <br>
- Thunderstorm Wind <br>
- Tornado<br>
- Tropical Depression<br>
- Tropical storm<br>
- Tsunami<br>
- Wildfire<br>
- Winter storm<br>

These are the dataset of natural hazards which are interesting for our purpose of predicting damages. There are other types of Natural hazards, but we only selected the previously shown Natural Hazards.

We know generate sub-datasets based on this which will be used for each inividual prediction

Now we want to take out all the observations that have no cost assigned to the Natural Hazard

In [145]:
df = df.dropna(subset=['DAMAGE_PROPERTY']) # if there are NA in our "y" we cannot use it, thus we dropped all the NAs

In [146]:
# By looking at the data we noticed that the valeus are not represente in full numeric values but take a k which represents thousands and m if they are millions 
def convert_cost(value):
    try:
        value = value.lower()
        if 'k' in value:
            return float(value.replace('k', '')) * 1000
        elif 'm' in value:
            return float(value.replace('m', '')) * 1000000
        else:
            return float(value)
    except Exception:
        return None  # Or any placeholder for invalid values
df['DAMAGE_PROPERTY'] = df['DAMAGE_PROPERTY'].apply(convert_cost)

In [147]:
df.head()

   BEGIN_YEARMONTH  BEGIN_DAY  BEGIN_TIME  END_YEARMONTH  END_DAY  END_TIME STATE  STATE_FIPS  YEAR MONTH_NAME    EVENT_TYPE CZ_TYPE  CZ_FIPS                                            CZ_NAME     BEGIN_DATE_TIME       END_DATE_TIME  INJURIES_DIRECT  INJURIES_INDIRECT  DEATHS_DIRECT  DEATHS_INDIRECT  DAMAGE_PROPERTY  MAGNITUDE MAGNITUDE_TYPE FLOOD_CAUSE TOR_F_SCALE  TOR_LENGTH  TOR_WIDTH  BEGIN_RANGE BEGIN_AZIMUTH BEGIN_LOCATION  END_RANGE END_AZIMUTH END_LOCATION  BEGIN_LAT  BEGIN_LON  END_LAT  END_LON                                  EPISODE_NARRATIVE EVENT_NARRATIVE      BEGIN_DATETIME        END_DATETIME  DURATION_HOURS  Distance_km  GEOID
0           200201         15         700         200201       15      1900  UTAH          49  2002    January    Heavy Snow       Z        8                     WASATCH MOUNTAINS SOUTH OF I80  15-JAN-02 07:00:00  15-JAN-02 19:00:00                0                  0              0                0          10000.0        NaN            NaN         NaN         NaN         NaN        NaN          NaN           NaN            NaN        NaN         NaN          NaN        NaN        NaN      NaN      NaN  A cold arctic storm dropped several inches of ...             NaN 2002-01-15 07:00:00 2002-01-15 19:00:00            12.0          NaN  49008
1           200201         15         700         200201       15      1900  UTAH          49  2002    January    Heavy Snow       Z        4            SOUTHERN WASATCH FRONT/LEHI/PROVO/NEPHI  15-JAN-02 07:00:00  15-JAN-02 19:00:00                0                  0              0                0          50000.0        NaN            NaN         NaN         NaN         NaN        NaN          NaN           NaN            NaN        NaN         NaN          NaN        NaN        NaN      NaN      NaN  A cold arctic storm dropped several inches of ...             NaN 2002-01-15 07:00:00 2002-01-15 19:00:00            12.0          NaN  49004
2           200201         18         600         200201       18      1700  UTAH          49  2002    January    Heavy Snow       Z        2  NORTHERN WASATCH FRONT/BRIGHAM CITY/OGDEN BOUN...  18-JAN-02 06:00:00  18-JAN-02 17:00:00                0                  0              0                0              0.0        NaN            NaN         NaN         NaN         NaN        NaN          NaN           NaN            NaN        NaN         NaN          NaN        NaN        NaN      NaN      NaN  Another storm brought good amounts of snow to ...             NaN 2002-01-18 06:00:00 2002-01-18 17:00:00            11.0          NaN  49002
3           200203         13         700         200203       14      1100  UTAH          49  2002      March  Winter Storm       Z        6    P NC WEBER/P C MORGAN/P W C SUMMIT/P SC WASATCH  13-MAR-02 07:00:00  14-MAR-02 11:00:00                0                  0              0                0              0.0        NaN            NaN         NaN         NaN         NaN        NaN          NaN           NaN            NaN        NaN         NaN          NaN        NaN        NaN      NaN      NaN  A blast of snow and wind hit much of Utah, pou...             NaN 2002-03-13 07:00:00 2002-03-14 11:00:00            28.0          NaN  49006
4           200203         13         700         200203       14      1100  UTAH          49  2002      March  Winter Storm       Z        7  RICH/CACHE T NW/P E C WEBER/MOST OF MORGAN/NW ...  13-MAR-02 07:00:00  14-MAR-02 11:00:00                0                  0              0                0              0.0        NaN            NaN         NaN         NaN         NaN        NaN          NaN           NaN            NaN        NaN         NaN          NaN        NaN        NaN      NaN      NaN  A blast of snow and wind hit much of Utah, pou...             NaN 2002-03-13 07:00:00 2002-03-14 11:00:00            28.0          NaN  49007

In [148]:
df.rename(columns={"YEAR": "Year"}, inplace=True)

In [149]:
df.rename(columns={"STATE": "State"}, inplace=True)

In [150]:
df['State'] = df['State'].str.title()

In [151]:
density_state.head()

   STATE       State  Year    Density
0      1     Alabama  2001  34.055836
1      2      Alaska  2001   0.428327
2      4     Arizona  2001  17.914687
3      5    Arkansas  2001  19.988123
4      6  California  2001  85.414236

In [152]:
# Avalanche
avalanche= df[df['EVENT_TYPE'] == 'Avalanche'] # has zones

# Blizzards
blizzards = df[df['EVENT_TYPE'] == 'Blizzards'] # has zones

# Coastal Flood
coastal_flood = df[df['EVENT_TYPE'] == 'Coastal Flood'] # has zones

# Debris Flood
debris_flood = df[df['EVENT_TYPE'] == 'Debris Flood'] # has counties

# Flash Flood
flash_flood = df[df['EVENT_TYPE'] == 'Flash Flood'] # has counties

# Flood
flood = df[df['EVENT_TYPE'] == 'Flood'] # has counties

# Hail
hail = df[df['EVENT_TYPE'] == 'Hail'] # has counties

# High Surf
high_surf = df[df['EVENT_TYPE'] == 'High Surf'] # has zones

# High Wind
high_wind = df[df['EVENT_TYPE'] == 'High Wind'] # has zones

# Hurricane
hurricane = df[df['EVENT_TYPE'] == 'Hurricane'] # has zones 

# Lakeshore Flood
lakeshore_flood = df[df['EVENT_TYPE'] == 'Lakeshore Flood'] # has zone

# Lightning
lightning = df[df['EVENT_TYPE'] == 'Lightning'] # has counties

# Seiche
seiche = df[df['EVENT_TYPE'] == 'Seiche'] # has zones 

# Storm Surge/Tide
storm_surge_tide = df[df['EVENT_TYPE'] == 'Storm Surge/Tide'] # has zones 

# Strong Wind
strong_wind = df[df['EVENT_TYPE'] == 'Strong wind'] # has zones 

# Thunderstorm Wind
thunderstorm_wind = df[df['EVENT_TYPE'] == 'Thunderstorm Wind'] # has counties

# Tornado
tornado = df[df['EVENT_TYPE'] == 'Tornado'] # has counties

# Tropical Depression
tropical_depression = df[df['EVENT_TYPE'] == 'Tropical Depression'] # has zones

# Tropical Storm
tropical_storm = df[df['EVENT_TYPE'] == 'Tropical storm'] # has zones

# Tsunami
tsunami = df[df['EVENT_TYPE'] == 'Tsunami'] # has zones

# Wildfire
wildfire = df[df['EVENT_TYPE'] == 'Wildfire'] # has zones 

# Winter Storm
winter_storm = df[df['EVENT_TYPE'] == 'Winter storm'] # has zones

We are now interested to see how many observations each Natural Hazard has

In [154]:
print(len(avalanche))

550

In [155]:
print(len(blizzards)) # has 0 obs so we can leave it out

0

In [156]:
print(len(coastal_flood))

2768

In [157]:
print(len(debris_flood)) # 0 obs so we can leave it out

0

In [158]:
print(len(flash_flood))

74681

In [159]:
print(len(flood))

49246

In [160]:
print(len(hail))

156023

In [161]:
print(len(high_surf))

7371

In [162]:
print(len(high_wind))

55320

In [163]:
print(len(hurricane))

240

In [164]:
print(len(lakeshore_flood))

335

In [165]:
print(len(lightning))

10838

In [166]:
print(len(seiche)) # not many observations so might be better to leave out

55

In [167]:
print(len(storm_surge_tide))

875

In [168]:
print(len(strong_wind)) # 0 obs so we can leave it out

0

In [169]:
print(len(thunderstorm_wind))

270027

In [170]:
print(len(tornado))

25704

In [171]:
print(len(tropical_depression))

443

In [172]:
print(len(tropical_storm)) # 0 obs so we can leave it out

0

In [173]:
print(len(tsunami)) # not many obs, we can try to predict it just bc it is cool but model will be probably very imprecise :(
# P.S. betetr that there are not many obs-> we do not want many tsunamis

38

In [174]:
print(len(wildfire))

5504

In [175]:
print(len(winter_storm)) # 0 obs so we can leave it out

0

In [176]:
# Now depending if the datasets contain zones or county level data we merge it with the respective data of GDP per capita and population density

# Flash FLood
flash_flood = pd.merge(flash_flood, GDP_capita_county, on=["GEOID", "Year"], how='inner')
flash_flood = pd.merge(flash_flood, density_county, on=["GEOID", "Year"], how='inner')
flash_flood = flash_flood.drop(columns=['BEGIN_YEARMONTH', 'BEGIN_DAY', 'BEGIN_TIME', 'END_YEARMONTH','END_DAY', 'END_TIME', 'STATE_FIPS', 'MONTH_NAME', 'EVENT_TYPE', 'CZ_TYPE', 'CZ_FIPS', 'BEGIN_DATE_TIME', 'END_DATE_TIME',  'BEGIN_RANGE','BEGIN_AZIMUTH', 'BEGIN_LOCATION', 'END_RANGE', 'END_AZIMUTH', 'END_LOCATION', 'BEGIN_LAT', 'BEGIN_LON', 'END_LAT', 'END_LON', 'BEGIN_DATETIME', 'END_DATETIME', 'STATE_x', 'STATE_y', 'County_y', 'CZ_NAME', 'MAGNITUDE', 'MAGNITUDE_TYPE', 'TOR_F_SCALE', 'TOR_LENGTH', 'TOR_WIDTH', 'EPISODE_NARRATIVE', 'EVENT_NARRATIVE'])
flash_flood.rename(columns={"County_x": "County"}, inplace=True)


# FLood
flood = pd.merge(flood, GDP_capita_county, on=["GEOID", "Year"], how='inner')
flood = pd.merge(flood, density_county, on=["GEOID", "Year"], how='inner')
flood = flood.drop(columns=['BEGIN_YEARMONTH', 'BEGIN_DAY', 'BEGIN_TIME', 'END_YEARMONTH','END_DAY', 'END_TIME', 'STATE_FIPS', 'MONTH_NAME', 'EVENT_TYPE', 'CZ_TYPE', 'CZ_FIPS', 'BEGIN_DATE_TIME', 'END_DATE_TIME',  'BEGIN_RANGE','BEGIN_AZIMUTH', 'BEGIN_LOCATION', 'END_RANGE', 'END_AZIMUTH', 'END_LOCATION', 'BEGIN_LAT', 'BEGIN_LON', 'END_LAT', 'END_LON', 'BEGIN_DATETIME', 'END_DATETIME', 'STATE_x', 'STATE_y', 'County_y', 'CZ_NAME', 'MAGNITUDE', 'MAGNITUDE_TYPE', 'TOR_F_SCALE', 'TOR_LENGTH', 'TOR_WIDTH', 'EPISODE_NARRATIVE', 'EVENT_NARRATIVE'])
flood.rename(columns={"County_x": "County"}, inplace=True)


# High Wind
high_wind = pd.merge(high_wind, GDP_capita_state, on=["State", "Year"], how='inner')
high_wind = pd.merge(high_wind, density_state, on=["State", "Year"], how='inner')
high_wind = high_wind.drop(columns=['BEGIN_YEARMONTH', 'BEGIN_DAY', 'BEGIN_TIME', 'END_YEARMONTH','END_DAY', 'END_TIME', 'MONTH_NAME', 'EVENT_TYPE', 'CZ_TYPE', 'CZ_FIPS', 'CZ_NAME','BEGIN_DATE_TIME', 'END_DATE_TIME', 'BEGIN_RANGE', 'BEGIN_AZIMUTH', 'BEGIN_LOCATION', 'END_RANGE', 'END_AZIMUTH', 'END_LOCATION', 'BEGIN_LAT', 'BEGIN_LON', 'END_LAT', 'END_LON', 'BEGIN_DATETIME', 'END_DATETIME', 'STATE_x', 'STATE_y', 'STATE_FIPS', 'FLOOD_CAUSE', 'TOR_F_SCALE', 'TOR_LENGTH', 'TOR_WIDTH', 'EPISODE_NARRATIVE', 'EVENT_NARRATIVE','Distance_km'])


# Lightning
lightning = pd.merge(lightning, GDP_capita_county, on=["GEOID", "Year"], how='inner')
lightning = pd.merge(lightning, density_county, on=["GEOID", "Year"], how='inner')
lightning = lightning.drop(columns=['BEGIN_YEARMONTH', 'BEGIN_DAY', 'BEGIN_TIME', 'END_YEARMONTH','END_DAY', 'END_TIME', 'STATE_FIPS', 'MONTH_NAME', 'EVENT_TYPE', 'CZ_TYPE', 'CZ_FIPS', 'BEGIN_DATE_TIME', 'END_DATE_TIME',  'BEGIN_RANGE','BEGIN_AZIMUTH', 'BEGIN_LOCATION', 'END_RANGE', 'END_AZIMUTH', 'END_LOCATION', 'BEGIN_LAT', 'BEGIN_LON', 'END_LAT', 'END_LON', 'BEGIN_DATETIME', 'END_DATETIME', 'STATE_x', 'STATE_y', 'County_y', 'CZ_NAME', 'MAGNITUDE', 'MAGNITUDE_TYPE', 'FLOOD_CAUSE', 'TOR_F_SCALE', 'TOR_LENGTH', 'TOR_WIDTH', 'EPISODE_NARRATIVE', 'EVENT_NARRATIVE'])
lightning.rename(columns={"County_x": "County"}, inplace=True)

# Seiche
seiche = pd.merge(seiche, GDP_capita_state, on=["State", "Year"], how='inner')
seiche = pd.merge(seiche, density_state, on=["State", "Year"], how='inner')
seiche = seiche.drop(columns=['BEGIN_YEARMONTH', 'BEGIN_DAY', 'BEGIN_TIME', 'END_YEARMONTH','END_DAY', 'END_TIME','STATE_x', 'MONTH_NAME', 'EVENT_TYPE', 'CZ_TYPE', 'BEGIN_DATE_TIME', 'END_DATE_TIME', 'BEGIN_AZIMUTH', 'BEGIN_LOCATION', 'END_RANGE', 'END_AZIMUTH', 'END_LOCATION', 'BEGIN_LAT', 'BEGIN_LON', 'END_LAT', 'END_LON', 'BEGIN_DATETIME', 'END_DATETIME', 'STATE_y', 'State', 'STATE_FIPS', 'CZ_FIPS', 'CZ_NAME', 'MAGNITUDE', 'MAGNITUDE_TYPE', 'FLOOD_CAUSE', 'TOR_F_SCALE' , 'TOR_LENGTH', 'TOR_WIDTH', 'BEGIN_RANGE', 'EPISODE_NARRATIVE', 'EVENT_NARRATIVE', 'Distance_km'])

# Tropical Depression
tropical_depression = pd.merge(tropical_depression, GDP_capita_state, on=["State", "Year"], how='inner')
tropical_depression = pd.merge(tropical_depression, density_state, on=["State", "Year"], how='inner')
tropical_depression = tropical_depression.drop(columns=['BEGIN_YEARMONTH', 'BEGIN_DAY', 'BEGIN_TIME', 'END_YEARMONTH','END_DAY', 'END_TIME', 'MONTH_NAME', 'EVENT_TYPE', 'CZ_TYPE', 'CZ_FIPS', 'CZ_NAME','BEGIN_DATE_TIME', 'END_DATE_TIME', 'BEGIN_RANGE', 'BEGIN_AZIMUTH', 'BEGIN_LOCATION', 'END_RANGE', 'END_AZIMUTH', 'END_LOCATION', 'BEGIN_LAT', 'BEGIN_LON', 'END_LAT', 'END_LON', 'BEGIN_DATETIME', 'END_DATETIME', 'STATE_x', 'STATE_y', 'MAGNITUDE', 'MAGNITUDE_TYPE', 'FLOOD_CAUSE', 'TOR_F_SCALE', 'TOR_LENGTH', 'TOR_WIDTH', 'EPISODE_NARRATIVE', 'EVENT_NARRATIVE', 'Distance_km'])


# Thunderstorm Wind
thunderstorm_wind = pd.merge(thunderstorm_wind, GDP_capita_county, on=["GEOID", "Year"], how='inner')
thunderstorm_wind = pd.merge(thunderstorm_wind, density_county, on=["GEOID", "Year"], how='inner')
thunderstorm_wind = thunderstorm_wind.drop(columns=['BEGIN_YEARMONTH', 'BEGIN_DAY', 'BEGIN_TIME', 'END_YEARMONTH','END_DAY', 'END_TIME', 'STATE_FIPS', 'MONTH_NAME', 'EVENT_TYPE', 'CZ_TYPE', 'CZ_FIPS', 'BEGIN_DATE_TIME', 'END_DATE_TIME',  'BEGIN_RANGE','BEGIN_AZIMUTH', 'BEGIN_LOCATION', 'END_RANGE', 'END_AZIMUTH', 'END_LOCATION', 'BEGIN_LAT', 'BEGIN_LON', 'END_LAT', 'END_LON', 'BEGIN_DATETIME', 'END_DATETIME', 'STATE_x', 'STATE_y', 'County_y', 'CZ_NAME', 'FLOOD_CAUSE', 'TOR_F_SCALE', 'TOR_LENGTH', 'TOR_WIDTH', 'EPISODE_NARRATIVE', 'EVENT_NARRATIVE', 'STATE_FIPS'])
thunderstorm_wind.rename(columns={"County_x": "County"}, inplace=True)


# Tornando
tornado = pd.merge(tornado, GDP_capita_county, on=["GEOID", "Year"], how='inner')
tornado = pd.merge(tornado, density_county, on=["GEOID", "Year"], how='inner')
tornado = tornado.drop(columns=['BEGIN_YEARMONTH', 'BEGIN_DAY', 'BEGIN_TIME', 'END_YEARMONTH','END_DAY', 'END_TIME', 'STATE_FIPS', 'MONTH_NAME', 'EVENT_TYPE', 'CZ_TYPE', 'CZ_FIPS', 'BEGIN_DATE_TIME', 'END_DATE_TIME',  'BEGIN_RANGE','BEGIN_AZIMUTH', 'BEGIN_LOCATION', 'END_RANGE', 'END_AZIMUTH', 'END_LOCATION', 'BEGIN_LAT', 'BEGIN_LON', 'END_LAT', 'END_LON', 'BEGIN_DATETIME', 'END_DATETIME', 'STATE_x', 'STATE_y', 'County_y', 'CZ_NAME', 'MAGNITUDE', 'MAGNITUDE_TYPE', 'FLOOD_CAUSE', 'EPISODE_NARRATIVE', 'EVENT_NARRATIVE'])
tornado.rename(columns={"County_x": "County"}, inplace=True)

# Wildfire
wildfire = pd.merge(wildfire, GDP_capita_state, on=["State", "Year"], how='inner')
wildfire = pd.merge(wildfire, density_state, on=["State", "Year"], how='inner')
wildfire = wildfire.drop(columns=['BEGIN_YEARMONTH', 'BEGIN_DAY', 'BEGIN_TIME', 'END_YEARMONTH','END_DAY', 'END_TIME', 'MONTH_NAME', 'EVENT_TYPE', 'CZ_TYPE', 'CZ_FIPS', 'CZ_NAME','BEGIN_DATE_TIME', 'END_DATE_TIME', 'BEGIN_RANGE', 'BEGIN_AZIMUTH', 'BEGIN_LOCATION', 'END_RANGE', 'END_AZIMUTH', 'END_LOCATION', 'BEGIN_LAT', 'BEGIN_LON', 'END_LAT', 'END_LON', 'BEGIN_DATETIME', 'END_DATETIME', 'STATE_x', 'STATE_y', 'STATE_FIPS', 'MAGNITUDE', 'MAGNITUDE_TYPE', 'FLOOD_CAUSE', 'TOR_F_SCALE', 'TOR_LENGTH', 'TOR_WIDTH', 'EPISODE_NARRATIVE', 'EVENT_NARRATIVE', 'Distance_km'])

# Create the final datasets

In [178]:
datasets = {
    "flash_flood": flash_flood,
    "flood": flood,
    "high_wind": high_wind,
    "lightning": lightning,
    "seiche" : seiche,
    "thunderstorm_wind": thunderstorm_wind,
    "tornado": tornado,
    "wildfire": wildfire,
    "tropical_depression" : tropical_depression
}

# Loop through each dataset and save it as a CSV
for name, df in datasets.items():
    file_name = f"{name}.csv"
    df.to_csv(file_name, index=False)
    print(f"Dataset {name} saved as {file_name}")

Dataset flash_flood saved as flash_flood.csv
Dataset flood saved as flood.csv
Dataset high_wind saved as high_wind.csv
Dataset lightning saved as lightning.csv
Dataset seiche saved as seiche.csv
Dataset thunderstorm_wind saved as thunderstorm_wind.csv
Dataset tornado saved as tornado.csv
Dataset wildfire saved as wildfire.csv
Dataset tropical_depression saved as tropical_depression.csv

In [179]:
flash_flood = pd.read_csv("flash_flood.csv")
flash_flood = flash_flood.dropna()
flash_flood.info()

<class 'pandas.core.frame.DataFrame'>
Index: 59351 entries, 6261 to 65620
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   State              59351 non-null  object
 1   Year               59351 non-null  int64
 2   INJURIES_DIRECT    59351 non-null  int64
 3   INJURIES_INDIRECT  59351 non-null  int64
 4   DEATHS_DIRECT      59351 non-null  int64
 5   DEATHS_INDIRECT    59351 non-null  int64
 6   DAMAGE_PROPERTY    59351 non-null  float64
 7   FLOOD_CAUSE        59351 non-null  object
 8   DURATION_HOURS     59351 non-null  float64
 9   Distance_km        59351 non-null  float64
 10  GEOID              59351 non-null  int64
 11  County             59351 non-null  object
 12  GDP_per_capita     59351 non-null  float64
 13  Density            59351 non-null  float64
dtypes: float64(5), int64(6), object(3)
memory usage: 6.8+ MB

In [180]:
flood = pd.read_csv("flood.csv")
flood = flood.dropna()
flood.info()

<class 'pandas.core.frame.DataFrame'>
Index: 38955 entries, 1771 to 40731
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   State              38955 non-null  object
 1   Year               38955 non-null  int64
 2   INJURIES_DIRECT    38955 non-null  int64
 3   INJURIES_INDIRECT  38955 non-null  int64
 4   DEATHS_DIRECT      38955 non-null  int64
 5   DEATHS_INDIRECT    38955 non-null  int64
 6   DAMAGE_PROPERTY    38955 non-null  float64
 7   FLOOD_CAUSE        38955 non-null  object
 8   DURATION_HOURS     38955 non-null  float64
 9   Distance_km        38955 non-null  float64
 10  GEOID              38955 non-null  int64
 11  County             38955 non-null  object
 12  GDP_per_capita     38955 non-null  float64
 13  Density            38955 non-null  float64
dtypes: float64(5), int64(6), object(3)
memory usage: 4.5+ MB

In [181]:
high_wind = pd.read_csv("high_wind.csv")
high_wind = high_wind.dropna()
high_wind.info()

<class 'pandas.core.frame.DataFrame'>
Index: 50102 entries, 1 to 50637
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   State              50102 non-null  object
 1   Year               50102 non-null  int64
 2   INJURIES_DIRECT    50102 non-null  int64
 3   INJURIES_INDIRECT  50102 non-null  int64
 4   DEATHS_DIRECT      50102 non-null  int64
 5   DEATHS_INDIRECT    50102 non-null  int64
 6   DAMAGE_PROPERTY    50102 non-null  float64
 7   MAGNITUDE          50102 non-null  float64
 8   MAGNITUDE_TYPE     50102 non-null  object
 9   DURATION_HOURS     50102 non-null  float64
 10  GEOID              50102 non-null  int64
 11  GDP_per_capita     50102 non-null  float64
 12  Density            50102 non-null  float64
dtypes: float64(5), int64(6), object(2)
memory usage: 5.4+ MB

In [182]:
lightning = pd.read_csv("lightning.csv")
lightning = lightning.dropna()
lightning.info()

<class 'pandas.core.frame.DataFrame'>
Index: 7889 entries, 588 to 10201
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   State              7889 non-null   object
 1   Year               7889 non-null   int64
 2   INJURIES_DIRECT    7889 non-null   int64
 3   INJURIES_INDIRECT  7889 non-null   int64
 4   DEATHS_DIRECT      7889 non-null   int64
 5   DEATHS_INDIRECT    7889 non-null   int64
 6   DAMAGE_PROPERTY    7889 non-null   float64
 7   DURATION_HOURS     7889 non-null   float64
 8   Distance_km        7889 non-null   float64
 9   GEOID              7889 non-null   int64
 10  County             7889 non-null   object
 11  GDP_per_capita     7889 non-null   float64
 12  Density            7889 non-null   float64
dtypes: float64(5), int64(6), object(2)
memory usage: 862.9+ KB

In [183]:
seiche = pd.read_csv("seiche.csv")
seiche = seiche.dropna()
seiche.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 55 entries, 0 to 54
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Year               55 non-null     int64
 1   INJURIES_DIRECT    55 non-null     int64
 2   INJURIES_INDIRECT  55 non-null     int64
 3   DEATHS_DIRECT      55 non-null     int64
 4   DEATHS_INDIRECT    55 non-null     int64
 5   DAMAGE_PROPERTY    55 non-null     float64
 6   DURATION_HOURS     55 non-null     float64
 7   GEOID              55 non-null     int64
 8   GDP_per_capita     55 non-null     float64
 9   Density            55 non-null     float64
dtypes: float64(4), int64(6)
memory usage: 4.4 KB

In [184]:
thunderstorm_wind = pd.read_csv("thunderstorm_wind.csv")
thunderstorm_wind = thunderstorm_wind.dropna()
thunderstorm_wind.info()

<class 'pandas.core.frame.DataFrame'>
Index: 231984 entries, 26 to 235838
Data columns (total 15 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   State              231984 non-null  object
 1   Year               231984 non-null  int64
 2   INJURIES_DIRECT    231984 non-null  int64
 3   INJURIES_INDIRECT  231984 non-null  int64
 4   DEATHS_DIRECT      231984 non-null  int64
 5   DEATHS_INDIRECT    231984 non-null  int64
 6   DAMAGE_PROPERTY    231984 non-null  float64
 7   MAGNITUDE          231984 non-null  float64
 8   MAGNITUDE_TYPE     231984 non-null  object
 9   DURATION_HOURS     231984 non-null  float64
 10  Distance_km        231984 non-null  float64
 11  GEOID              231984 non-null  int64
 12  County             231984 non-null  object
 13  GDP_per_capita     231984 non-null  float64
 14  Density            231984 non-null  float64
dtypes: float64(6), int64(6), object(3)
memory usage: 28.3+ MB

In [185]:
tornado = pd.read_csv("tornado.csv")
tornado = tornado.dropna()
tornado.info()

<class 'pandas.core.frame.DataFrame'>
Index: 22896 entries, 4 to 22971
Data columns (total 16 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   State              22896 non-null  object
 1   Year               22896 non-null  int64
 2   INJURIES_DIRECT    22896 non-null  int64
 3   INJURIES_INDIRECT  22896 non-null  int64
 4   DEATHS_DIRECT      22896 non-null  int64
 5   DEATHS_INDIRECT    22896 non-null  int64
 6   DAMAGE_PROPERTY    22896 non-null  float64
 7   TOR_F_SCALE        22896 non-null  object
 8   TOR_LENGTH         22896 non-null  float64
 9   TOR_WIDTH          22896 non-null  float64
 10  DURATION_HOURS     22896 non-null  float64
 11  Distance_km        22896 non-null  float64
 12  GEOID              22896 non-null  int64
 13  County             22896 non-null  object
 14  GDP_per_capita     22896 non-null  float64
 15  Density            22896 non-null  float64
dtypes: float64(7), int64(6), object(3)
memory usage: 3.0+ MB

In [186]:
wildfire = pd.read_csv("wildfire.csv")
wildfire = wildfire.dropna()
wildfire.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5027 entries, 0 to 5030
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   State              5027 non-null   object
 1   Year               5027 non-null   int64
 2   INJURIES_DIRECT    5027 non-null   int64
 3   INJURIES_INDIRECT  5027 non-null   int64
 4   DEATHS_DIRECT      5027 non-null   int64
 5   DEATHS_INDIRECT    5027 non-null   int64
 6   DAMAGE_PROPERTY    5027 non-null   float64
 7   DURATION_HOURS     5027 non-null   float64
 8   GEOID              5027 non-null   int64
 9   GDP_per_capita     5027 non-null   float64
 10  Density            5027 non-null   float64
dtypes: float64(4), int64(6), object(1)
memory usage: 471.3+ KB

In [187]:
tropical_depression = pd.read_csv("tropical_depression.csv")
tropical_depression = tropical_depression.dropna()
tropical_depression.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 423 entries, 0 to 422
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   State              423 non-null    object
 1   STATE_FIPS         423 non-null    int64
 2   Year               423 non-null    int64
 3   INJURIES_DIRECT    423 non-null    int64
 4   INJURIES_INDIRECT  423 non-null    int64
 5   DEATHS_DIRECT      423 non-null    int64
 6   DEATHS_INDIRECT    423 non-null    int64
 7   DAMAGE_PROPERTY    423 non-null    float64
 8   DURATION_HOURS     423 non-null    float64
 9   GEOID              423 non-null    int64
 10  GDP_per_capita     423 non-null    float64
 11  Density            423 non-null    float64
dtypes: float64(4), int64(7), object(1)
memory usage: 39.8+ KB

# Prediction <br>
In this part we will build our models which will be used for the prediction

In [189]:
# Core Libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# Scikit-learn Utilities
from sklearn.model_selection import train_test_split, GridSearchCV, KFold
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import (
    confusion_matrix,
    ConfusionMatrixDisplay,
    classification_report,
    roc_auc_score,
    roc_curve,
    mean_squared_error,
    r2_score,
    accuracy_score,
    make_scorer
)

# Models
from sklearn.tree import DecisionTreeClassifier, DecisionTreeRegressor
from sklearn.ensemble import RandomForestClassifier, RandomForestRegressor
from xgboost import XGBClassifier, XGBRegressor
from xgboost import XGBRegressor


# Statsmodels
import statsmodels.api as sm

#Bayesian optimisation
from bayes_opt import BayesianOptimization

In [190]:
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score

def regression_report(y_true, y_pred):
    """
    Generates a detailed regression report with key metrics.
    
    Parameters:
    - y_true: array-like, true target values
    - y_pred: array-like, predicted target values
    
    Returns:
    A string with the formatted regression report.
    """
    mse = mean_squared_error(y_true, y_pred)
    mae = mean_absolute_error(y_true, y_pred)
    rmse = mse ** 0.5
    r2 = r2_score(y_true, y_pred)
    
    report = (
        f"Regression Report:\n"
        f"-------------------\n"
        f"Mean Absolute Error (MAE): {mae:.4f}\n"
        f"Mean Squared Error (MSE): {mse:.4f}\n"
        f"Root Mean Squared Error (RMSE): {rmse:.4f}\n"
        f"R-squared (R2): {r2:.4f}\n"
    )
    
    return report

# Flood

In [192]:
flood = pd.read_csv('flood.csv')
flood= flood.dropna()
flood.drop('County', axis=1, inplace=True)
flood.info()

<class 'pandas.core.frame.DataFrame'>
Index: 38955 entries, 1771 to 40731
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   State              38955 non-null  object
 1   Year               38955 non-null  int64
 2   INJURIES_DIRECT    38955 non-null  int64
 3   INJURIES_INDIRECT  38955 non-null  int64
 4   DEATHS_DIRECT      38955 non-null  int64
 5   DEATHS_INDIRECT    38955 non-null  int64
 6   DAMAGE_PROPERTY    38955 non-null  float64
 7   FLOOD_CAUSE        38955 non-null  object
 8   DURATION_HOURS     38955 non-null  float64
 9   Distance_km        38955 non-null  float64
 10  GEOID              38955 non-null  int64
 11  GDP_per_capita     38955 non-null  float64
 12  Density            38955 non-null  float64
dtypes: float64(5), int64(6), object(2)
memory usage: 4.2+ MB

In [193]:
from sklearn.preprocessing import StandardScaler
flood = pd.get_dummies(flood, drop_first=True)
flood = flood.astype(float)

y = flood["DAMAGE_PROPERTY"]
X = flood.drop(["DAMAGE_PROPERTY", "GEOID"], axis = 1)
y = np.log1p(y) #Log transformation
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42) #Split data
scaler = StandardScaler() #Scale data
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [194]:
# Save the column names to a txt file
with open("flood_features.txt", 'w') as f:
    for column in X.columns:
        f.write(f"{column}\n")

In [195]:
model_flood = XGBRegressor(colsample_bytree=0.65, gamma=1.77, learning_rate=0.06, max_depth=10, n_estimators=404, subsample=0.81)
model_flood.fit(X_train,y_train)
y_pred = model_flood.predict(X_test)
print(regression_report(y_test, y_pred))

#Original values
y_pred = np.expm1(y_pred)  
y_true = np.expm1(y_test)

# Evaluate
mae = mean_absolute_error(y_true, y_pred)
mse = mean_squared_error(y_true, y_pred)
rmse = np.sqrt(mse)
r2 = r2_score(y_true, y_pred)
print(mae, mse, rmse, r2)


#No tuning 0.377
#Tuning: 0.554

Regression Report:
-------------------
Mean Absolute Error (MAE): 2.3749
Mean Squared Error (MSE): 11.9682
Root Mean Squared Error (RMSE): 3.4595
R-squared (R2): 0.4860

864175.8491600794 2505145709731101.5 50051430.646197334 -65.32764656521762

In [196]:
# from xgboost import XGBRegressor
# from bayes_opt import BayesianOptimization
# from sklearn.metrics import mean_squared_error

# Define the evaluation function
# def xgb_bayesian(n_estimators, learning_rate, max_depth, colsample_bytree, subsample, gamma):
#     model = XGBRegressor(
#         n_estimators=int(n_estimators),
#         learning_rate=learning_rate,
#         max_depth=int(max_depth),
#         colsample_bytree=colsample_bytree,
#         subsample=subsample,
#         gamma=gamma,
#         random_state=42
#     )
#     model.fit(X_train, y_train)
#     y_pred = model.predict(X_test)
#     return -mean_squared_error(y_test, y_pred)

# Define the parameter bounds
# param_bounds = {
#     'n_estimators': (50, 500),
#     'learning_rate': (0.01, 0.3),
#     'max_depth': (3, 10),
#     'colsample_bytree': (0.3, 1.0),
#     'subsample': (0.5, 1.0),
#     'gamma': (0, 5)
# }

# Perform Bayesian Optimization
# optimizer = BayesianOptimization(
#     f=xgb_bayesian,
#     pbounds=param_bounds,
#     random_state=42,
#     verbose=2
# )

# optimizer.maximize(init_points=10, n_iter=25)

# Display best parameters
# best_params = optimizer.max['params']
# print("Best Parameters Found:", best_params)

# High Wind

In [198]:
high_wind = pd.read_csv('high_wind.csv')
high_wind= high_wind.dropna()
high_wind.info()

<class 'pandas.core.frame.DataFrame'>
Index: 50102 entries, 1 to 50637
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   State              50102 non-null  object
 1   Year               50102 non-null  int64
 2   INJURIES_DIRECT    50102 non-null  int64
 3   INJURIES_INDIRECT  50102 non-null  int64
 4   DEATHS_DIRECT      50102 non-null  int64
 5   DEATHS_INDIRECT    50102 non-null  int64
 6   DAMAGE_PROPERTY    50102 non-null  float64
 7   MAGNITUDE          50102 non-null  float64
 8   MAGNITUDE_TYPE     50102 non-null  object
 9   DURATION_HOURS     50102 non-null  float64
 10  GEOID              50102 non-null  int64
 11  GDP_per_capita     50102 non-null  float64
 12  Density            50102 non-null  float64
dtypes: float64(5), int64(6), object(2)
memory usage: 5.4+ MB

In [199]:
# Assuming the dataset is loaded into a DataFrame named flood

# Get the unique values in the 'FLOOD_CAUSE' column
unique_high_wind = high_wind['MAGNITUDE_TYPE'].unique()

# Display the unique values
print("Unique values in the 'MAGNITUDE_TYPE' column:")
print(unique_high_wind)

Unique values in the 'MAGNITUDE_TYPE' column:
['E' 'M' 'MG' 'EG' 'MS' 'ES']

In [200]:
high_wind.info()
high_wind.drop("MAGNITUDE_TYPE", axis=1, inplace=True)

<class 'pandas.core.frame.DataFrame'>
Index: 50102 entries, 1 to 50637
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   State              50102 non-null  object
 1   Year               50102 non-null  int64
 2   INJURIES_DIRECT    50102 non-null  int64
 3   INJURIES_INDIRECT  50102 non-null  int64
 4   DEATHS_DIRECT      50102 non-null  int64
 5   DEATHS_INDIRECT    50102 non-null  int64
 6   DAMAGE_PROPERTY    50102 non-null  float64
 7   MAGNITUDE          50102 non-null  float64
 8   MAGNITUDE_TYPE     50102 non-null  object
 9   DURATION_HOURS     50102 non-null  float64
 10  GEOID              50102 non-null  int64
 11  GDP_per_capita     50102 non-null  float64
 12  Density            50102 non-null  float64
dtypes: float64(5), int64(6), object(2)
memory usage: 5.4+ MB

In [201]:
high_wind = pd.get_dummies(high_wind, drop_first=True) 
high_wind = high_wind.astype(float) 
y = high_wind["DAMAGE_PROPERTY"]
X = high_wind.drop(["DAMAGE_PROPERTY", "GEOID"], axis=1)
y = np.log1p(y)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [202]:
# Save the column names to a txt file
with open("high_wind_features.txt", 'w') as f:
    for column in X.columns:
        f.write(f"{column}\n")

In [203]:
model_high_wind = XGBRegressor( colsample_bytree=0.73, gamma=0.85, learning_rate=0.03, max_depth=10, n_estimators=485, subsample=0.9

)
model_high_wind.fit(X_train,y_train)
y_pred = model_high_wind.predict(X_test)
print(regression_report(y_test, y_pred))

#Original values
y_pred = np.expm1(y_pred)  
y_true = np.expm1(y_test)

# Evaluate
mae = mean_absolute_error(y_true, y_pred)
mse = mean_squared_error(y_true, y_pred)
rmse = np.sqrt(mse)
r2 = r2_score(y_true, y_pred)
print(mae, mse, rmse, r2)


#No tuning
#Mean Absolute Error (MAE): 1.1649
#Mean Squared Error (MSE): 5.9891
#Root Mean Squared Error (RMSE): 2.4473
#R-squared (R2): 0.6941

#tuning

#Mean Absolute Error (MAE): 2.7160
#Mean Squared Error (MSE): 13.5957
#Root Mean Squared Error (RMSE): 3.6872
#R-squared (R2): 0.5627

Regression Report:
-------------------
Mean Absolute Error (MAE): 1.2485
Mean Squared Error (MSE): 5.9147
Root Mean Squared Error (RMSE): 2.4320
R-squared (R2): 0.6979

234639.57711629852 57610551675365.21 7590161.505222745 0.1692522022976729

In [204]:
# from xgboost import XGBRegressor
# from bayes_opt import BayesianOptimization
# from sklearn.metrics import mean_squared_error

# Define the evaluation function
# def xgb_bayesian(n_estimators, learning_rate, max_depth, colsample_bytree, subsample, gamma):
#     model = XGBRegressor(
#         n_estimators=int(n_estimators),
#         learning_rate=learning_rate,
#         max_depth=int(max_depth),
#         colsample_bytree=colsample_bytree,
#         subsample=subsample,
#         gamma=gamma,
#         random_state=42
#     )
#     model.fit(X_train, y_train)
#     y_pred = model.predict(X_test)
#     return -mean_squared_error(y_test, y_pred)

# Define the parameter bounds
# param_bounds = {
#     'n_estimators': (50, 500),
#     'learning_rate': (0.01, 0.3),
#     'max_depth': (3, 10),
#     'colsample_bytree': (0.3, 1.0),
#     'subsample': (0.5, 1.0),
#     'gamma': (0, 5)
# }

# Perform Bayesian Optimization
# optimizer = BayesianOptimization(
#     f=xgb_bayesian,
#     pbounds=param_bounds,
#     random_state=42,
#     verbose=2
# )

# optimizer.maximize(init_points=10, n_iter=25)

# Display best parameters
# best_params = optimizer.max['params']
# print("Best Parameters Found:", best_params)

# Lightning

In [206]:
lightning = pd.read_csv('lightning.csv')
lightning= lightning.dropna()
lightning.drop('County', axis=1, inplace=True)
lightning.info()

<class 'pandas.core.frame.DataFrame'>
Index: 7889 entries, 588 to 10201
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   State              7889 non-null   object
 1   Year               7889 non-null   int64
 2   INJURIES_DIRECT    7889 non-null   int64
 3   INJURIES_INDIRECT  7889 non-null   int64
 4   DEATHS_DIRECT      7889 non-null   int64
 5   DEATHS_INDIRECT    7889 non-null   int64
 6   DAMAGE_PROPERTY    7889 non-null   float64
 7   DURATION_HOURS     7889 non-null   float64
 8   Distance_km        7889 non-null   float64
 9   GEOID              7889 non-null   int64
 10  GDP_per_capita     7889 non-null   float64
 11  Density            7889 non-null   float64
dtypes: float64(5), int64(6), object(1)
memory usage: 801.2+ KB

In [207]:
from sklearn.preprocessing import StandardScaler
lightning = pd.get_dummies(lightning, drop_first=True)
lightning = lightning.astype(float)

y = lightning["DAMAGE_PROPERTY"]
X = lightning.drop(["DAMAGE_PROPERTY", "GEOID"], axis = 1)
y = np.log1p(y) #Log transformation
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42) #Split data
scaler = StandardScaler() #Scale data
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [208]:
# Save the column names to a txt file
with open("lightning_features.txt", 'w') as f:
    for column in X.columns:
        f.write(f"{column}\n")

In [209]:
model_lightning = XGBRegressor( colsample_bytree=0.32, gamma=4.55, learning_rate=0.09, max_depth=8, n_estimators=190, subsample=0.76)
model_lightning.fit(X_train,y_train)
y_pred = model_lightning.predict(X_test)
print(regression_report(y_test, y_pred))
#Original values
y_pred = np.expm1(y_pred)  
y_true = np.expm1(y_test)

# Evaluate
mae = mean_absolute_error(y_true, y_pred)
mse = mean_squared_error(y_true, y_pred)
rmse = np.sqrt(mse)
r2 = r2_score(y_true, y_pred)
print(mae, mse, rmse, r2)
#No tuning Mean Absolute Error (MAE): 2.8357
#Mean Squared Error (MSE): 14.5539
#Root Mean Squared Error (RMSE): 3.8150
#R-squared (R2): 0.5319
#tuning
# Mean Absolute Error (MAE): 2.8396
#Mean Squared Error (MSE): 14.1110
#Root Mean Squared Error (RMSE): 3.7565
#R-squared (R2): 0.5461

Regression Report:
-------------------
Mean Absolute Error (MAE): 1.6628
Mean Squared Error (MSE): 5.3060
Root Mean Squared Error (RMSE): 2.3035
R-squared (R2): 0.6453

63062.30492722509 93003452195.03131 304964.6736837421 -0.010435759010326118

In [210]:
# from xgboost import XGBRegressor
# from bayes_opt import BayesianOptimization
# from sklearn.metrics import mean_squared_error

# Define the evaluation function
# def xgb_bayesian(n_estimators, learning_rate, max_depth, colsample_bytree, subsample, gamma):
#     model = XGBRegressor(
#         n_estimators=int(n_estimators),
#         learning_rate=learning_rate,
#         max_depth=int(max_depth),
#         colsample_bytree=colsample_bytree,
#         subsample=subsample,
#         gamma=gamma,
#         random_state=42
#     )
#     model.fit(X_train, y_train)
#     y_pred = model.predict(X_test)
#     return -mean_squared_error(y_test, y_pred)

# Define the parameter bounds
# param_bounds = {
#     'n_estimators': (50, 500),
#     'learning_rate': (0.01, 0.3),
#     'max_depth': (3, 10),
#     'colsample_bytree': (0.3, 1.0),
#     'subsample': (0.5, 1.0),
#     'gamma': (0, 5)
# }

# Perform Bayesian Optimization
# optimizer = BayesianOptimization(
#     f=xgb_bayesian,
#     pbounds=param_bounds,
#     random_state=42,
#     verbose=2
# )

# optimizer.maximize(init_points=10, n_iter=25)

# Display best parameters
# best_params = optimizer.max['params']
# print("Best Parameters Found:", best_params)

# Tornado

In [212]:
tornado=pd.read_csv('tornado.csv')
tornado.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22972 entries, 0 to 22971
Data columns (total 16 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   State              22972 non-null  object
 1   Year               22972 non-null  int64
 2   INJURIES_DIRECT    22972 non-null  int64
 3   INJURIES_INDIRECT  22972 non-null  int64
 4   DEATHS_DIRECT      22972 non-null  int64
 5   DEATHS_INDIRECT    22972 non-null  int64
 6   DAMAGE_PROPERTY    22965 non-null  float64
 7   TOR_F_SCALE        22972 non-null  object
 8   TOR_LENGTH         22972 non-null  float64
 9   TOR_WIDTH          22972 non-null  float64
 10  DURATION_HOURS     22972 non-null  float64
 11  Distance_km        22903 non-null  float64
 12  GEOID              22972 non-null  int64
 13  County             22972 non-null  object
 14  GDP_per_capita     22972 non-null  float64
 15  Density            22972 non-null  float64
dtypes: float64(7), int64(6), object(3)
memory usage: 2.8+ MB

In [213]:
unique_values = tornado['TOR_F_SCALE'].unique()
print("Unique values in 'Category' column:", unique_values)

Unique values in 'Category' column: ['F2' 'F0' 'F1' 'F3' 'F4' 'EF0' 'EF1' 'EF2' 'EF3' 'EF4' 'EF5' 'EFU']

In [214]:
tornado = pd.read_csv('tornado.csv')

tornado.drop('County', axis=1, inplace=True)
tornado = tornado.dropna()
tornado.info()

<class 'pandas.core.frame.DataFrame'>
Index: 22896 entries, 4 to 22971
Data columns (total 15 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   State              22896 non-null  object
 1   Year               22896 non-null  int64
 2   INJURIES_DIRECT    22896 non-null  int64
 3   INJURIES_INDIRECT  22896 non-null  int64
 4   DEATHS_DIRECT      22896 non-null  int64
 5   DEATHS_INDIRECT    22896 non-null  int64
 6   DAMAGE_PROPERTY    22896 non-null  float64
 7   TOR_F_SCALE        22896 non-null  object
 8   TOR_LENGTH         22896 non-null  float64
 9   TOR_WIDTH          22896 non-null  float64
 10  DURATION_HOURS     22896 non-null  float64
 11  Distance_km        22896 non-null  float64
 12  GEOID              22896 non-null  int64
 13  GDP_per_capita     22896 non-null  float64
 14  Density            22896 non-null  float64
dtypes: float64(7), int64(6), object(2)
memory usage: 2.8+ MB

In [215]:
from sklearn.preprocessing import StandardScaler
tornado = pd.get_dummies(tornado, drop_first=True)
tornado = tornado.astype(float)

y = tornado["DAMAGE_PROPERTY"]
X = tornado.drop(["DAMAGE_PROPERTY", "GEOID"], axis = 1)
y = np.log1p(y) #Log transformation
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42) #Split data
scaler = StandardScaler() #Scale data
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [216]:
# Save the column names to a txt file
with open("tornado_features.txt", 'w') as f:
    for column in X.columns:
        f.write(f"{column}\n")

In [217]:
regressor = XGBRegressor(max_depth = 10, random_state = 14)

regressor.fit(X_train, y_train)

y_pred = regressor.predict(X_test)

In [218]:
model_tornado = XGBRegressor( colsample_bytree=0.49, gamma= 0.41, learning_rate=0.03, max_depth=10, n_estimators=480, subsample=0.77
)
model_tornado.fit(X_train,y_train)
y_pred = model_tornado.predict(X_test)
print(regression_report(y_test, y_pred))

#Original values
y_pred = np.expm1(y_pred)  
y_true = np.expm1(y_test)

# Evaluate
mae = mean_absolute_error(y_true, y_pred)
mse = mean_squared_error(y_true, y_pred)
rmse = np.sqrt(mse)
r2 = r2_score(y_true, y_pred)
print(mae, mse, rmse, r2)

#No tuning
#Mean Absolute Error (MAE): 2.7147
#Mean Squared Error (MSE): 14.0880
#Root Mean Squared Error (RMSE): 3.7534
#R-squared (R2): 0.5469

#Tuning
#Mean Absolute Error (MAE): 2.6542
#Mean Squared Error (MSE): 13.5549
#Root Mean Squared Error (RMSE): 3.6817
#R-squared (R2): 0.5640

Regression Report:
-------------------
Mean Absolute Error (MAE): 2.7375
Mean Squared Error (MSE): 13.5686
Root Mean Squared Error (RMSE): 3.6836
R-squared (R2): 0.5636

806601.2095745867 221753985843831.4 14891406.442772 0.040066298248543464

In [219]:
# from xgboost import XGBRegressor
# from bayes_opt import BayesianOptimization
# from sklearn.metrics import mean_squared_error

# Define the evaluation function
# def xgb_bayesian(n_estimators, learning_rate, max_depth, colsample_bytree, subsample, gamma):
#     model = XGBRegressor(
#         n_estimators=int(n_estimators),
#         learning_rate=learning_rate,
#         max_depth=int(max_depth),
#         colsample_bytree=colsample_bytree,
#         subsample=subsample,
#         gamma=gamma,
#         random_state=42
#     )
#     model.fit(X_train, y_train)
#     y_pred = model.predict(X_test)
#     return -mean_squared_error(y_test, y_pred)

# Define the parameter bounds
# param_bounds = {
#     'n_estimators': (50, 500),
#     'learning_rate': (0.01, 0.3),
#     'max_depth': (3, 10),
#     'colsample_bytree': (0.3, 1.0),
#     'subsample': (0.5, 1.0),
#     'gamma': (0, 5)
# }

# Perform Bayesian Optimization
# optimizer = BayesianOptimization(
#     f=xgb_bayesian,
#     pbounds=param_bounds,
#     random_state=42,
#     verbose=2
# )

# optimizer.maximize(init_points=10, n_iter=25)

# Display best parameters
# best_params = optimizer.max['params']
# print("Best Parameters Found:", best_params)

# Wildfire

In [221]:
wildfire = pd.read_csv('wildfire.csv')
# Assuming the DataFrame is named df and the column is named 'column_name'
# tornado = tornado[tornado['DAMAGE_PROPERTY'] != 0]
wildfire = wildfire.dropna()
wildfire.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5027 entries, 0 to 5030
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   State              5027 non-null   object
 1   Year               5027 non-null   int64
 2   INJURIES_DIRECT    5027 non-null   int64
 3   INJURIES_INDIRECT  5027 non-null   int64
 4   DEATHS_DIRECT      5027 non-null   int64
 5   DEATHS_INDIRECT    5027 non-null   int64
 6   DAMAGE_PROPERTY    5027 non-null   float64
 7   DURATION_HOURS     5027 non-null   float64
 8   GEOID              5027 non-null   int64
 9   GDP_per_capita     5027 non-null   float64
 10  Density            5027 non-null   float64
dtypes: float64(4), int64(6), object(1)
memory usage: 471.3+ KB

In [222]:
from sklearn.preprocessing import StandardScaler
wildfire = pd.get_dummies(wildfire, drop_first=True)
wildfire = wildfire.astype(float)

y = wildfire["DAMAGE_PROPERTY"]
X = wildfire.drop(["DAMAGE_PROPERTY", "GEOID"], axis = 1)
y = np.log1p(y) #Log transformation
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42) #Split data
scaler = StandardScaler() #Scale data
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [223]:
# Save the column names to a txt file
with open("wildfire_features.txt", 'w') as f:
    for column in X.columns:
        f.write(f"{column}\n")

In [224]:
model_wildfire = XGBRegressor(colsample_bytree=0.72, gamma=0.85, learning_rate=0.03, max_depth=10, n_estimators=485, subsample=0.9
)
model_wildfire.fit(X_train,y_train)
y_pred = model_wildfire.predict(X_test)
print(regression_report(y_test, y_pred))

#Original values
y_pred = np.expm1(y_pred)  
y_true = np.expm1(y_test)

# Evaluate
mae = mean_absolute_error(y_true, y_pred)
mse = mean_squared_error(y_true, y_pred)
rmse = np.sqrt(mse)
r2 = r2_score(y_true, y_pred)
print(mae, mse, rmse, r2)

#No tuning
#Mean Absolute Error (MAE): 2.7147
#Mean Squared Error (MSE): 14.0880
#Root Mean Squared Error (RMSE): 3.7534
#R-squared (R2): 0.5469

#Tuning
#Mean Absolute Error (MAE): 2.7053
#Mean Squared Error (MSE): 13.4229
#Root Mean Squared Error (RMSE): 3.6637
#R-squared (R2): 0.5683

Regression Report:
-------------------
Mean Absolute Error (MAE): 3.0116
Mean Squared Error (MSE): 19.5757
Root Mean Squared Error (RMSE): 4.4244
R-squared (R2): 0.3603

761906.9933365353 36792673673404.9 6065696.4705963405 0.041279520409242654

In [225]:
# from xgboost import XGBRegressor
# from bayes_opt import BayesianOptimization
# from sklearn.metrics import mean_squared_error

# Define the evaluation function
# def xgb_bayesian(n_estimators, learning_rate, max_depth, colsample_bytree, subsample, gamma):
#     model = XGBRegressor(
#         n_estimators=int(n_estimators),
#         learning_rate=learning_rate,
#         max_depth=int(max_depth),
#         colsample_bytree=colsample_bytree,
#         subsample=subsample,
#         gamma=gamma,
#         random_state=42
#     )
#     model.fit(X_train, y_train)
#     y_pred = model.predict(X_test)
#     return -mean_squared_error(y_test, y_pred)

# Define the parameter bounds
# param_bounds = {
#     'n_estimators': (50, 500),
#     'learning_rate': (0.01, 0.3),
#     'max_depth': (3, 10),
#     'colsample_bytree': (0.3, 1.0),
#     'subsample': (0.5, 1.0),
#     'gamma': (0, 5)
# }

# Perform Bayesian Optimization
# optimizer = BayesianOptimization(
#     f=xgb_bayesian,
#     pbounds=param_bounds,
#     random_state=42,
#     verbose=2
# )

# optimizer.maximize(init_points=10, n_iter=25)

# Display best parameters
# best_params = optimizer.max['params']
# print("Best Parameters Found:", best_params)

# Tropical depression

In [227]:
tropical_depression = pd.read_csv('tropical_depression.csv')
tropical_depression.drop('STATE_FIPS', axis=1, inplace=True)
tropical_depression = tropical_depression.dropna()
tropical_depression.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 423 entries, 0 to 422
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   State              423 non-null    object
 1   Year               423 non-null    int64
 2   INJURIES_DIRECT    423 non-null    int64
 3   INJURIES_INDIRECT  423 non-null    int64
 4   DEATHS_DIRECT      423 non-null    int64
 5   DEATHS_INDIRECT    423 non-null    int64
 6   DAMAGE_PROPERTY    423 non-null    float64
 7   DURATION_HOURS     423 non-null    float64
 8   GEOID              423 non-null    int64
 9   GDP_per_capita     423 non-null    float64
 10  Density            423 non-null    float64
dtypes: float64(4), int64(6), object(1)
memory usage: 36.5+ KB

In [228]:
from sklearn.preprocessing import StandardScaler
tropical_depression = pd.get_dummies(tropical_depression, drop_first=True)
tropical_depression = tropical_depression.astype(float)

y = tropical_depression["DAMAGE_PROPERTY"]
X = tropical_depression.drop(["DAMAGE_PROPERTY", "GEOID"], axis = 1)
y = np.log1p(y) #Log transformation
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42) #Split data
scaler = StandardScaler() #Scale data
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [229]:
# Save the column names to a txt file
with open("tropical_depression_features.txt", 'w') as f:
    for column in X.columns:
        f.write(f"{column}\n")

In [230]:
model_tropical_depression = RandomForestRegressor( max_features = 'sqrt', min_samples_split = 5, n_estimators = 500)
model_tropical_depression.fit(X_train,y_train)
y_pred = model_tropical_depression.predict(X_test)
print(regression_report(y_test, y_pred))

Regression Report:
-------------------
Mean Absolute Error (MAE): 1.2306
Mean Squared Error (MSE): 4.7689
Root Mean Squared Error (RMSE): 2.1838
R-squared (R2): 0.8383

# Now we can try to predict the GDP per capita and density of the conunties

To predict the GDP per capita and density we will use an ARIMA model

In [233]:
data = pd.read_csv('merged_data_county.csv')
# Count the number of unique values in the 'County' column
unique_count = data['GEOID'].nunique()
print(f"Number of unique values in 'County': {unique_count}")

# Count how many times each unique value appears
value_counts = data['GEOID'].value_counts()
print("Counts for each unique value in 'County':")
print(value_counts)

Number of unique values in 'County': 3076
Counts for each unique value in 'County':
GEOID
1001     21
37095    21
39033    21
39035    21
39037    21
         ..
21095    21
21097    21
21099    21
21101    21
56045    21
Name: count, Length: 3076, dtype: int64

In [234]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 64596 entries, 0 to 64595
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   County          64596 non-null  object
 1   GEOID           64596 non-null  int64
 2   Year            64596 non-null  int64
 3   Density         64596 non-null  float64
 4   STATE           64596 non-null  int64
 5   GDP_per_capita  64570 non-null  float64
 6   State           64596 non-null  object
dtypes: float64(2), int64(3), object(2)
memory usage: 3.4+ MB

In [235]:
print(data['GDP_per_capita'])

0         17426.757281
1         22772.548781
2         22258.227760
3         10604.887023
4         12134.954616
             ...
64591     99552.255039
64592    178405.288235
64593     49882.665123
64594     54530.036251
64595     60319.626713
Name: GDP_per_capita, Length: 64596, dtype: float64

In [236]:
# Define the function to calculate predictions for each GEOID
def predict_for_geoid(geoid_data):
    # Sort the data by Year
    geoid_data = geoid_data.sort_values(by='Year')
    
    # Initialize an empty dictionary to store future data
    future_data_dict = {'Year': [], 'GEOID': [], 'GDP_per_capita': [], 'Density': []}
    
    for column in ['GDP_per_capita', 'Density']:
        # Filter the data for years 2002 to 2019 to calculate drift
        pre_covid_data = geoid_data[(geoid_data['Year'] >= 2002) & (geoid_data['Year'] <= 2019)]
        
        # Calculate the average annual growth rate (drift) for the column
        drift = pre_covid_data[column].diff().mean()
        
        # Predict future values for years beyond 2022
        n_steps_future = 8  # Predict for 8 years (2023-2030)
        start_value = geoid_data.loc[geoid_data['Year'] == 2022, column].values[0] if not geoid_data.loc[geoid_data['Year'] == 2022, column].empty else 0
        
        # Calculate future values using the drift
        future_values = [start_value + (i + 1) * drift for i in range(n_steps_future)]
        
        # Add the future values to the dictionary
        future_data_dict[column].extend(future_values)
    
    # Create future years and GEOID information
    future_years = list(range(2023, 2023 + n_steps_future))
    future_data_dict['Year'] = future_years
    future_data_dict['GEOID'] = [geoid_data['GEOID'].iloc[0]] * n_steps_future

    # Convert the dictionary to a DataFrame
    future_data = pd.DataFrame(future_data_dict)
    
    # Combine historical data with future predictions
    return pd.concat([geoid_data, future_data], ignore_index=True)

# Group by GEOID and apply the function
grouped = data.groupby('GEOID')
data_with_predictions = pd.concat([predict_for_geoid(group) for _, group in grouped], ignore_index=True)

# Display the result
print(data_with_predictions)

               County  GEOID  Year    Density  STATE  GDP_per_capita    State
0      Autauga County   1001  2002  29.818175    1.0    17426.757281  Alabama
1      Autauga County   1001  2003  30.396885    1.0    17824.957265  Alabama
2      Autauga County   1001  2004  31.414011    1.0    20354.401853  Alabama
3      Autauga County   1001  2005  32.264864    1.0    20438.843707  Alabama
4      Autauga County   1001  2006  33.337848    1.0    21900.112999  Alabama
...               ...    ...   ...        ...    ...             ...      ...
89199             NaN  56045  2026   1.115646    NaN    65310.853938      NaN
89200             NaN  56045  2027   1.118506    NaN    66558.660744      NaN
89201             NaN  56045  2028   1.121367    NaN    67806.467550      NaN
89202             NaN  56045  2029   1.124227    NaN    69054.274356      NaN
89203             NaN  56045  2030   1.127087    NaN    70302.081162      NaN

[89204 rows x 7 columns]

In [237]:
data_with_predictions.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 89204 entries, 0 to 89203
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   County          64596 non-null  object
 1   GEOID           89204 non-null  int64
 2   Year            89204 non-null  int64
 3   Density         89204 non-null  float64
 4   STATE           64596 non-null  float64
 5   GDP_per_capita  89178 non-null  float64
 6   State           64596 non-null  object
dtypes: float64(3), int64(2), object(2)
memory usage: 4.8+ MB

In [238]:
specific_county_data = data_with_predictions[data_with_predictions['GEOID'] == 1001.0 ]

print(specific_county_data)

            County  GEOID  Year    Density  STATE  GDP_per_capita    State
0   Autauga County   1001  2002  29.818175    1.0    17426.757281  Alabama
1   Autauga County   1001  2003  30.396885    1.0    17824.957265  Alabama
2   Autauga County   1001  2004  31.414011    1.0    20354.401853  Alabama
3   Autauga County   1001  2005  32.264864    1.0    20438.843707  Alabama
4   Autauga County   1001  2006  33.337848    1.0    21900.112999  Alabama
5   Autauga County   1001  2007  34.037366    1.0    22559.564927  Alabama
6   Autauga County   1001  2008  34.603736    1.0    20603.693902  Alabama
7   Autauga County   1001  2009  35.161012    1.0    21719.201995  Alabama
8   Autauga County   1001  2010  35.444197    1.0    23142.016822  Alabama
9   Autauga County   1001  2011  35.871572    1.0    24531.514241  Alabama
10  Autauga County   1001  2012  35.703349    1.0    28593.651082  Alabama
11  Autauga County   1001  2013  35.558510    1.0    27590.059729  Alabama
12  Autauga County   1001  2014  35.672173    1.0    28569.971960  Alabama
13  Autauga County   1001  2015  35.659833    1.0    31493.688869  Alabama
14  Autauga County   1001  2016  35.918985    1.0    32661.495063  Alabama
15  Autauga County   1001  2017  36.013813    1.0    31787.584764  Alabama
16  Autauga County   1001  2018  36.069021    1.0    32892.910522  Alabama
17  Autauga County   1001  2019  36.222305    1.0    32347.953164  Alabama
18  Autauga County   1001  2020  36.466519    1.0    32301.237866  Alabama
19  Autauga County   1001  2021  38.452709    1.0    32897.353175  Alabama
20  Autauga County   1001  2022  38.792400    1.0    39595.670227  Alabama
21             NaN   1001  2023  39.169114    NaN    40473.387632      NaN
22             NaN   1001  2024  39.545827    NaN    41351.105037      NaN
23             NaN   1001  2025  39.922541    NaN    42228.822442      NaN
24             NaN   1001  2026  40.299254    NaN    43106.539847      NaN
25             NaN   1001  2027  40.675968    NaN    43984.257252      NaN
26             NaN   1001  2028  41.052682    NaN    44861.974657      NaN
27             NaN   1001  2029  41.429395    NaN    45739.692062      NaN
28             NaN   1001  2030  41.806109    NaN    46617.409467      NaN

In [239]:
# Fill missing values in the dataset with the preceding non-missing values
data_with_predictions = data_with_predictions.fillna(method='ffill')

print(data_with_predictions)

               County  GEOID  Year    Density  STATE  GDP_per_capita    State
0      Autauga County   1001  2002  29.818175    1.0    17426.757281  Alabama
1      Autauga County   1001  2003  30.396885    1.0    17824.957265  Alabama
2      Autauga County   1001  2004  31.414011    1.0    20354.401853  Alabama
3      Autauga County   1001  2005  32.264864    1.0    20438.843707  Alabama
4      Autauga County   1001  2006  33.337848    1.0    21900.112999  Alabama
...               ...    ...   ...        ...    ...             ...      ...
89199   Weston County  56045  2026   1.115646   56.0    65310.853938  Wyoming
89200   Weston County  56045  2027   1.118506   56.0    66558.660744  Wyoming
89201   Weston County  56045  2028   1.121367   56.0    67806.467550  Wyoming
89202   Weston County  56045  2029   1.124227   56.0    69054.274356  Wyoming
89203   Weston County  56045  2030   1.127087   56.0    70302.081162  Wyoming

[89204 rows x 7 columns]

C:\Users\nicar\AppData\Local\Temp\ipykernel_5224\4292446677.py:2: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  data_with_predictions = data_with_predictions.fillna(method='ffill')

In [240]:
specific_county_data = data_with_predictions[data_with_predictions['GEOID'] == 1001.0 ]

print(specific_county_data)

            County  GEOID  Year    Density  STATE  GDP_per_capita    State
0   Autauga County   1001  2002  29.818175    1.0    17426.757281  Alabama
1   Autauga County   1001  2003  30.396885    1.0    17824.957265  Alabama
2   Autauga County   1001  2004  31.414011    1.0    20354.401853  Alabama
3   Autauga County   1001  2005  32.264864    1.0    20438.843707  Alabama
4   Autauga County   1001  2006  33.337848    1.0    21900.112999  Alabama
5   Autauga County   1001  2007  34.037366    1.0    22559.564927  Alabama
6   Autauga County   1001  2008  34.603736    1.0    20603.693902  Alabama
7   Autauga County   1001  2009  35.161012    1.0    21719.201995  Alabama
8   Autauga County   1001  2010  35.444197    1.0    23142.016822  Alabama
9   Autauga County   1001  2011  35.871572    1.0    24531.514241  Alabama
10  Autauga County   1001  2012  35.703349    1.0    28593.651082  Alabama
11  Autauga County   1001  2013  35.558510    1.0    27590.059729  Alabama
12  Autauga County   1001  2014  35.672173    1.0    28569.971960  Alabama
13  Autauga County   1001  2015  35.659833    1.0    31493.688869  Alabama
14  Autauga County   1001  2016  35.918985    1.0    32661.495063  Alabama
15  Autauga County   1001  2017  36.013813    1.0    31787.584764  Alabama
16  Autauga County   1001  2018  36.069021    1.0    32892.910522  Alabama
17  Autauga County   1001  2019  36.222305    1.0    32347.953164  Alabama
18  Autauga County   1001  2020  36.466519    1.0    32301.237866  Alabama
19  Autauga County   1001  2021  38.452709    1.0    32897.353175  Alabama
20  Autauga County   1001  2022  38.792400    1.0    39595.670227  Alabama
21  Autauga County   1001  2023  39.169114    1.0    40473.387632  Alabama
22  Autauga County   1001  2024  39.545827    1.0    41351.105037  Alabama
23  Autauga County   1001  2025  39.922541    1.0    42228.822442  Alabama
24  Autauga County   1001  2026  40.299254    1.0    43106.539847  Alabama
25  Autauga County   1001  2027  40.675968    1.0    43984.257252  Alabama
26  Autauga County   1001  2028  41.052682    1.0    44861.974657  Alabama
27  Autauga County   1001  2029  41.429395    1.0    45739.692062  Alabama
28  Autauga County   1001  2030  41.806109    1.0    46617.409467  Alabama

In [241]:
data_with_predictions.to_csv('merged_data_county.csv', index=False)

 ## Save models for Streamlit <br>
 Now we can save the models so that we can use them on Streamlit for our app

In [244]:
import joblib

#Save each model
joblib.dump(model_flood, 'flood_model.pkl')
joblib.dump(model_high_wind, 'high_wind_model.pkl')
joblib.dump(model_lightning, 'lightning_model.pkl')
joblib.dump(model_tornado, 'tornado_model.pkl')
joblib.dump(model_tropical_depression, 'tropical_depression_model.pkl')
joblib.dump(model_wildfire, 'wildfire_model.pkl')

['wildfire_model.pkl']